[2016-07-14 17:36] sigmavirus24 commented on #787
So, I think our ideal would be to provide a separate playbook to do that clean up. Let me explain why:

1. OSA does not do clean up for upgrades from pre-venv environments to venv environments (which is the default for the upgrade between certain versions)

1. Support may or may not use MaaS in a venv. We're giving them the option but often times they ask for something, we deliver it, and they dec

[2016-07-14 19:51] nategraf commented on #1235
In order to fix this issue an approach needs to be decided.  So far I have found two places where the behavior can be changed to fix this issue.

- The deploy.sh script could be barred from automatically configuration  on data partitions, and instead specify data partition manually, or ask for confirmation before trying to configure the partition.
- A data drive failing the size check could remove

[2016-07-15 03:02] alextricity25 commented on #1164
@BjoernT
"Current Number of DB sessions in relation to max_connection setting"
Cloud you provide a little more insight as to what exactly you are wanting to monitor here? It seems very similar to the point you listed after that:
"Max_used_connections in relation to max_connection setting"

Thanks!

[2016-07-15 13:30] #1130 closed

[2016-07-15 13:30] #1131 closed

[2016-07-15 13:31] #1134 closed

[2016-07-15 14:16] alextricity25 commented on #1235
Although I'm not completely against the first option, it might break some of the tooling that uses the deploy.sh if we require the invoker to input a data partition(for example, Jenkins, i also have a tool that uses deploy.sh and depends on being to run without user interaction). On the other hand, you could always use environment variables to keep the script non-interactive. However, that still m

[2016-07-15 15:52] BjoernT commented on #1164
Basically current number of sessions , max_used_connections < max_connections limit

[2016-07-15 17:15] git-harry commented on #1223
I have tested this on a multinode deployment built using heat but was unable to reproduce the issue. @Rydor would you mind taking a look at the logs on your deployments and updating this issue with those that record the issue you're seeing.

[2016-07-15 19:11] alextricity25 commented on #1164
@BjoernT that already seems to be implemented in the plugin here[1].
Did you have anything else in mind? Or is this alarm fine? If it's fine we can just add alarms for the remaining points you mentioned above.

[1] https://github.com/rcbops/rpc-openstack/blob/master/rpcd/playbooks/roles/rpc_maas/templates/galera_check.yaml.j2#L26-L36

[2016-07-15 19:13] BjoernT commented on #1164
Yes when you look at the description, we need to verify which metrics we are checking, I got more listed like deadlocks etc

[2016-07-17 10:52] odyssey4me commented on #1235
The allocation of the secondary disk was lifted from the gate-check-commit script in OSA. That has since evolved, so it'd perhaps be best to try something similar instead of re-inventing the wheel.

See https://github.com/openstack/openstack-ansible/blob/master/scripts/gate-check-commit.sh#L43-L52

[2016-07-17 19:10] alextricity25 commented on #1164
@BjoernT @sigmavirus24
"Aborted_clients < 1/s
Aborted_connects < 1/s"
These checks might be a little harder to implement, since the each check is done, by default, every 60 seconds. MariaDB also doesn't provide this status variable as a rate of change, but as cumulative value as far as I know.
I could do something with the "Uptime" status variable. I could divide the Uptime with the number of abor

[2016-07-18 09:59] #348 closed

[2016-07-18 09:59] andymcc commented on #348
Backports merged successfully.

[2016-07-18 12:21] mancdaz commented on #1107
master patch has merged, awaiting kilo and liberty-12.2 backports being approved/merged

[2016-07-18 12:42] andymcc commented on #1098
I've submitted a fix that takes into consideration the feedback from the previous PR - since we hadn't had movement in 4 weeks - if we can get that reviewed and merged we can close this out (post backports).

[2016-07-18 13:14] claco commented on #1107
As this bug winds down with backports, has anyone filed a bug for this upstream or had the conversation in the mailing list or with the nova folks? I wonder if this is something they'd consider adding? (asking to ask)

[2016-07-18 14:27] b3rnard0 commented on #1223
@Rydor Any updates? Thank you!

cc: @tbyrom138

[2016-07-18 15:03] alextricity25 commented on #1164
F.Y.I - PR is up #1242.

Still trying to figure out what the best threshold for Innodb_row_lock_time_avg could be. I'm doing research on this now.

[2016-07-18 15:24] nategraf commented on #1235
Until this bug is fixed here are two options to work around it:
1. Comment out the following lines 48 and 49 of deploy.sh [1]. This will prevent the script from recognizing potential data partitions.
2. Use the 30GB computer flavor for the server instead.

[1]
[](https://github.com/rcbops/rpc-openstack/blob/master/scripts/deploy.sh#L48-L49)

[2016-07-18 15:59] andymcc commented on #1098
Will need to adjust the actual monitors to match the metrics.

[2016-07-18 16:00] BjoernT commented on #1107
@claco  Do  you want the overcommit ratios exposed on the nova api, or what is your idea ?

[2016-07-18 18:36] BjoernT commented on #1164
I would actually capture the rate in a small pickle database and then divide it by the time difference  to get per second growth. Using uptime will ruin the results

[2016-07-18 19:33] alextricity25 commented on #1164
@BjoernT It looks like the rate function modifier does what I want[1]:
https://developer.rackspace.com/docs/rackspace-monitoring/v1/developer-guide/#constructs-with-function-modifiers

[2016-07-18 20:16] BjoernT commented on #1164
@alextricity25 Yepp looks good

[2016-07-19 00:08] alextricity25 commented on #1164
PR #1242 ready for review and feedback.

[2016-07-19 00:44] alextricity25 commented on #460
I would like to take a stab at this using https://github.com/hughsaunders/rpc-openstack/commit/47b2226ee2ee33a8ccf27ff0a0e171eaec63d5f3 as a starting point.
What do you think @claco?

[2016-07-19 15:45] mancdaz commented on #1107
master patch and backports have all merged now. Closing issue to move it out of the system, and taking the discussion regarding tackling this in nova offline.

[2016-07-19 15:45] #1107 closed

[2016-07-19 16:34] Rydor commented on #1223
Sorry for the delay, I have been working with Jacob to get more information. After digging in further we believe this to be related to an environmental issue involving the F5 load balancers and the expired certificates within out labs. We are going to continue to track this as an environment issue as we were unable to reproduce in an AIO, multi-node CS deployment, nor in SAT6.

At this time please

[2016-07-19 17:00] cloader89 opened #1244 "Jenkins fails on a non related issue to what was being tested"
##### On which version(s) do you encounter this issue?
Jenkins
##### What type of issue is this? Please tick the appropriate box.
- [X ] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?
Fail on related issues, not fail on unrelated issues.
##### What is actually happening?

[2016-07-19 19:48] #1244 closed

[2016-07-20 13:46] #1223 closed

[2016-07-20 14:42] tomc603 commented on #1236
I'm interested in gathering feedback on this. Specifically, how can we supervise processes inside containers without having some kind of "agent" within the container. Perhaps we could attempt to connect to the daemons? Doing that may require external dependencies to prove more than TCP connectivity, though.

[2016-07-20 15:43] andymcc commented on #1098
OK passing tests -ready for reviews!

[2016-07-20 19:40] sigmavirus24 commented on #1098
@alextricity25 why did you close this?

[2016-07-20 19:41] tomc603 commented on #1236
As of now, the solution will probably be to create a generic process check function in maas_common, which can then be called from any other check scripts that may need to verify the existence of a running process.

Once that is done, I will create a check script each for beaver, filebeat, and rsyslog. I'm not entirely sure how we would control which script(s) are run where, but I'll ask around onc

[2016-07-20 20:01] npawelek opened #1251 "Unable to exclude local checks with maas_excluded_checks override"
##### On which version(s) do you encounter this issue?

/opt/rpc-openstack/rpcd/playbooks# git describe --all
r12.1.1

##### What type of issue is this? Please tick the appropriate box.
- [X] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

Override 'maas_excluded_checks'

[2016-07-20 20:21] nategraf commented on #1235
Thanks odyssey4me for the pointer. I explored a couple other ideas, but the gate check code you linked seems to be the best approach.

[2016-07-20 21:38] ameserole commented on #1135
UPDATE:
Running into some issues getting an r12.1.1 environment set up to try and reproduce the bug. Tomorrow we will see if we can get an r12.1.1 lab set up. We will try and reproduce it on master as well.

[2016-07-20 22:56] txgunslinger77 opened #1252 "OpenCompute Hardware Monitoring Checks - Feature Request"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?

Quanta, Supermicro, OpenCompute

###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
\# git describe --all
12.0.16-8-g6992c9d

##### Wh

[2016-07-21 08:40] andymcc commented on #1251
@npawelek I actually fixed this already in: https://github.com/rcbops/rpc-openstack/pull/1250 (I noticed it was broken when testing the cinder checks and made the quick change).
It's currently being back-ported where appropriate, so I'm going to close this bug out.

[2016-07-21 08:40] #1251 closed

[2016-07-21 13:23] b3rnard0 opened #1253 "WIP: Approved -- 4 | | Doing -- 4 | | Needs review -- 4"
Ignore this issue -- it's a About card for our Waffle board and project.

[2016-07-21 14:01] b3rnard0 commented on #1129
@mancdaz Can you please add details to this card so that we can get the backport prioritized.

[2016-07-21 14:12] mancdaz commented on #1129
@b3rnard0 the patch has been committed to master and stable/mitaka branches in OSA. Someone will need to rework the patch for liberty (a straight cherry-pick won't work due to the change in role structure between liberty and stable/mitaka).  Once that's done and merged, a SHA bump will need to happen to include the OSA fix in rpc-o

[2016-07-21 14:13] b3rnard0 commented on #1013
@BjoernT Any new updates? I'm going through the Support upgrades bugs to get those prioritized.

[2016-07-21 14:17] BjoernT commented on #1013
Let me follow up, we have not done any upgrades anymore also this problem is not necessarily a upgrade issue.

[2016-07-21 14:52] b3rnard0 commented on #1013
@BjoernT Does this need to be de-prioritized?

[2016-07-21 14:55] BjoernT commented on #1013
@b3rnard0 Possibly if I can't find any recent installation with issues, perhaps I close it even.

[2016-07-21 15:09] b3rnard0 commented on #1013
Okay, de-prioritizing for now and if you find something on this, we'll adjust as necessary.

[2016-07-21 16:12] alextricity25 opened #1254 "galera_check.py queries_per_second metric mislabeled"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
master
##### What type of issue is this? Please tick the appropriate box.
- [ ] bug

[2016-07-21 16:27] b3rnard0 commented on #1236
@tomc603 BTW, what size enhancement is this? Can it go in a revision release or is it more appropriate for a minor/major release that will need QE testing, etc.

[2016-07-21 16:43] tomc603 commented on #1236
This is a pretty trivial change- Adding a few functions to maas_common, then writing scripts to utilize those functions. I'd say a revision release is good enough for this.

[2016-07-21 18:06] mancdaz commented on #1254
Note, while the plugin can't report qps or rate of change, the alarm language can be used to interpret current poll versus previous poll and determine a rate based on that.

[2016-07-21 18:32] ameserole commented on #1135
UPDATE:
We have reproduced the issues and are now working on a solution.

[2016-07-21 20:53] #787 closed

[2016-07-21 21:02] ameserole commented on #1135
UPDATE:
Submitted a work in progress pull request. The fix has not been fully tested yet.

[2016-07-21 23:33] tomc603 commented on #1236
I've changed tack slightly, but it may work better. I have a generic `process_check.py` script, which accepts one or more process names (the executable portion of a command line) as parameters.

The script reports a `metric_bool` status for each process specified, with the value of that status being the result of searching the running process list for the process.

The reason behind not adding a c

[2016-07-22 00:11] tomc603 commented on #1236
I'm going to reach out tomorrow to find out how best to configure a host to execute a check using this script. Based on other maas tests, it's probably going to be a templated section of a config file, but I want to be sure there isn't a better way.

[2016-07-22 10:24] b3rnard0 commented on #1235
@nategraf What's left on this is the backports?

[2016-07-22 11:58] #1227 closed

[2016-07-22 12:57] b3rnard0 commented on #460
@mancdaz @claco Is this a but or an enhancement? If the latter, what's the size to determine when we should put this into our approved list.

[2016-07-22 13:09] b3rnard0 commented on #941
@claco @mancdaz Same questions, is this a feature and what is the size? That will drive when we do this.

[2016-07-22 13:21] mancdaz commented on #460
This is an enhancement. Additional bits of monitoring I would suggest are type-enhancement-small

[2016-07-22 13:28] mancdaz commented on #941
@b3rnard0 if this can be reproduced, it's a bug rather than a feature

[2016-07-22 13:31] BjoernT commented on #941
This is a bug and should be easily be reproducible.

[2016-07-22 14:19] b3rnard0 commented on #1002
We are going to tackle this as an medium sized enhancement here: https://github.com/rcbops/u-suk-dev/issues/239

[2016-07-22 16:28] alextricity25 opened #1257 "maas plugins wrapper script can't take multi-word arguments"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-07-22 17:37] tomc603 commented on #1236
Apparently I didn't git push this last night. So that was dumb of me.

[2016-07-22 19:15] alextricity25 commented on #1135
Update: The pull request is ready for review.

@JCallicoat Is the process of updating the horizon_site_name documented anywhere? Or would you like us to submit a doc patch outlining the process of changing horizon_site_name? If the horizon_site_name wants to be changed on an existing environment, the new process will involve re-running setup-maas after re-running the os-install-horizon playbooks.

[2016-07-22 23:29] shane-c opened #1260 "pip install cryptography still failing"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?

root@infra01:/opt/rpc-openstack/rpcd/playbooks# git describe --all
r12.2.1

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work

[2016-07-23 00:30] shane-c opened #1261 "Wrong version of python-keystoneclient installed"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?

root@infra01:/opt/rpc-openstack/rpcd/playbooks# git describe --all
r12.2.1

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work

[2016-07-25 03:41] JCallicoat commented on #1135
@alextricity25 I'm not sure tbh. It used to be documented when it was part of an external repository.

https://github.com/evrardjp/ansible-openstack-horizon-branding/blob/617bf88395909b683d571f87ead798f24a439b9f/README.md

When that was merged over it looks like the documentation was removed in favor of describing it in the commit message?

https://github.com/openstack/openstack-ansible/commit/5c9

[2016-07-25 08:29] andymcc commented on #1098
ok we're all done - backports are ready. closing this out!

[2016-07-25 08:29] #1098 closed

[2016-07-25 12:14] #1235 closed

[2016-07-25 12:16] #1257 closed

[2016-07-25 13:38] brainerd123 opened #1262 "horizon_maas plugin "“horizon_local_status”" throws errors when using keystone domains"
Hello,

When enabling Keystone Domains, the following MaaS Horizon check stops working.

"horizon_local_status"

:set consecutiveCount=3
if (metric["horizon_local_status"] != 1) {
    return new AlarmStatus(CRITICAL, "Horizon unavailable");
}

The check can no longer login to Horizon.

#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section i

[2016-07-25 14:18] brainerd123 opened #1263 "No LBaaS Neutron Checks for MaaS - RPC 12.2"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
12.2 series

###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

Liberty 12.2

heads/stable/mitaka

##### What type of issue is this? P

[2016-07-25 14:59] git-harry commented on #1263
This feature is still in tech preview and so does not include monitoring support.

[2016-07-25 14:59] #1263 closed

[2016-07-25 15:42] git-harry commented on #1252
This is being tracked as a feature enhancement on a separate list https://github.com/rcbops/u-suk-dev/issues/241

[2016-07-25 15:42] #1252 closed

[2016-07-25 15:57] txgunslinger77 commented on #1252
I have updated this feature request to exclude OpenCompute, and change the scope of the request to a hardware-agnostic file system monitoring check that tests read-write capability of the disks on a hypervisor. Please let me know if this should be a separate request.

[2016-07-25 16:28] ameserole commented on #1135
UPDATE:
Looks like #1255 is going to get approval to be merged soon once it passes jenkins.
Working on backports for kilo and liberty now.

[2016-07-25 16:40] b3rnard0 commented on #934
@BjoernT Is this no longer a priority bug? We've committed to fixing it. Please advise.

cc: @claco @git-harry @mancdaz

[2016-07-25 16:47] txgunslinger77 commented on #1252
I am unable to view the link - I simply get a 404 not found...

On Mon, Jul 25, 2016 at 10:42 AM, git-harry <notifications@github.com>
wrote:

[2016-07-25 17:05] git-harry commented on #1252
@txgunslinger77 I'm confused now. Are you saying the original feature request was wrong and you aren't looking for hardware monitoring similar to that provided for Dell and HP hardware or was I mistaken in what you were requesting?

[2016-07-25 17:18] BjoernT commented on #934
I saw it only few times and a workaround could be to make sure that the services are started.
So I would say we postpone or even close it since we have to recreate the init scripts for newton anyway to be systemd compatible

[2016-07-25 17:20] BjoernT commented on #934
Correction yes this issue is still there. After each reboot beaver would not be started since it's not liked inside the legacy init rcX.d directories installed. So the only way to lower the prio would be to have a workaround in place, which we can not guarantee in support at this moment

[2016-07-25 17:21] BjoernT commented on #934
Fresh liberty install:

[code]

[2016-07-25 19:13] ameserole commented on #1135
UPDATE:
Added pull requests for backports. #1264 for liberty and #1265 for kilo

[2016-07-25 19:17] txgunslinger77 commented on #1252
Sorry for the confusion. I'll try to explain...
Given that OpenCompute standard vendors have various classes of a given chassis with more or less features, the example I provided here was originally used to highlight the quality failings of OpenCompute gear. I believe I was in error doing so, given the aforementioned degrees of quality available - my experience was with the lowest quality standard

[2016-07-26 08:25] git-harry commented on #1135
@ameserole please don't create custom labels, you seem to have added the label 'in progress' which is not defined in the process that was agreed Friday before last. I will remove this label, please let me know what you were trying to achieve with it and we can explore how that fits in with current expectations.

[2016-07-26 09:29] git-harry commented on #1252
My interpretation of what you've said is that there are two things here:
1. there is no hardware monitoring in place for OpenCompute similar to what is currently in place for Dell/HP gear
2. you had a filesystem go into read-only mode.

If that's the case then we should keep the issues separate, this helps us with tracking and reporting on the work. Leave this one as was to record the general requ

[2016-07-26 10:25] git-harry commented on #262
Based on the currently work to update the ELK stack for Mitaka I believe this issue is no longer valid.

[2016-07-26 10:25] #262 closed

[2016-07-26 10:27] git-harry commented on #263
The is a spike in-progress/finished regarding the appropriate way to deploy Ceilometer and so I believe this issue is no longer valid.

[2016-07-26 10:27] #263 closed

[2016-07-26 10:49] git-harry commented on #636
This plugin is not currently used. There is a new issue to track a new implementation https://github.com/rcbops/u-suk-dev/issues/239 so I think this one can be closed.

[2016-07-26 10:49] #636 closed

[2016-07-26 10:56] git-harry commented on #771
The change to novnc is being tracked in https://github.com/rcbops/u-suk-dev/issues/131 and so this issue should no longer be required.

[2016-07-26 10:56] #771 closed

[2016-07-26 11:09] git-harry commented on #873
This work is being tracked in https://github.com/rcbops/u-suk-dev/issues/134 and so I am closing this issue in favour of that one.

[2016-07-26 11:09] #873 closed

[2016-07-26 11:49] git-harry commented on #857
Work to change the use of variable files has been tracked by https://github.com/rcbops/u-suk-dev/issues/185 and so I believe this issue is no longer required.

[2016-07-26 11:49] #857 closed

[2016-07-26 11:51] git-harry commented on #1003
As referenced above, there is another issue tracking this same work so I will close this issue in favour of https://github.com/rcbops/rpc-openstack/issues/1180

[2016-07-26 11:51] #1003 closed

[2016-07-26 11:52] #1036 closed

[2016-07-26 12:05] git-harry commented on #995
This has been addressed upstream for Mitaka and Liberty but will need overriding in Kilo if required in that release.

[2016-07-26 12:26] git-harry commented on #931
If this work is to be revisited, I think it's appropriate that it is done as part of a minor release. This was changed based on collaboration done with relevant stakeholders however that does not appear to have been sufficient to put this issue to rest and so we need to make sure any further work is including all the relevant people.

I will close this issue in favour of https://github.com/rcbops/

[2016-07-26 12:26] #931 closed

[2016-07-26 13:23] ameserole commented on #1135
@git-harry to be honest I don't know how those got there. I noticed that it showed up when I made on the backports when I made them but never did anything about it. I will keep this in mind for the future.

[2016-07-26 13:27] git-harry commented on #1135
@ameserole that's fine, I just want to make sure that when we add labels they have a clear purpose and we document it.

[2016-07-26 13:58] git-harry commented on #343
As far as I can tell, it looks like this issue was raised to ask a question and there has been some discussion which appears to have answered it. Based on that I will close the issue.

[2016-07-26 13:58] #343 closed

[2016-07-26 14:04] git-harry commented on #542
@tomc603 I'm not sure it there is a bug here or this is some form of potential enhancement. Are you able to give an example of what happens if there isn't useful content?

[2016-07-26 15:02] ameserole commented on #1135
UPDATE:
#1255 merged into master and now just waiting on the backports #1265 and #1264 to be reviewed and merged.

[2016-07-26 15:03] tomc603 commented on #542
This was an enhancement from roughly forever ago. I filed the bug so we wouldn't forget.

What seems to happen is an unhandled exception is raised when the response body doesn't contain values we blindly expect. A direct example of something I fixed, which has since been reverted apparently:

[code]

[2016-07-26 15:07] alextricity25 commented on #1215
We need to wait for https://github.com/rcbops/jenkins-rpc/pull/620 to merge before we can unblock this

[2016-07-26 15:18] ameserole commented on #1135
UPDATE:
#1265 and #1264 have now both merged.
Im going to close this issue unless @JCallicoat has anymore problems with this.

[2016-07-26 15:18] #1135 closed

[2016-07-26 15:48] git-harry commented on #783
I've removed the milestone because, to my knowledge, this not been planned to be part of the release.

[2016-07-26 16:32] b3rnard0 commented on #783
This was added a while back for consideration into 13.0. It's likely a candidate to be discussed for consideration in 13.2.

[2016-07-26 16:40] prometheanfire commented on #783
I wonder what our efficiency is on working on this (a one line change)

[2016-07-26 17:11] hughsaunders commented on #1119
liberty backport: https://review.openstack.org/#/c/347488

[2016-07-26 22:06] nategraf commented on #1129
Back-port to Liberty submitted for review upstream
https://review.openstack.org/#/c/347564/

[2016-07-26 23:54] JCallicoat commented on #1135
LGTM :+1:

[2016-07-27 05:42] txgunslinger77 commented on #1252
yes you have it correct and I will open a separate issue for the file
system check, thank you

On Tue, Jul 26, 2016 at 4:29 AM, git-harry <notifications@github.com> wrote:

[2016-07-27 07:40] git-harry commented on #783
@prometheanfire the reason I've changed this is because I'm attempting to tidy up the issues in the repo. It may feel like things are going backwards but what we're hopefully achieving here is drawing a line in the sand so that going forward we are more efficient and predictable with better tracking of what is being added to the product.

This change seems to be for enabling live migrations, that

[2016-07-27 07:40] #783 closed

[2016-07-27 09:05] mancdaz commented on #1199
closing issue, as workaround/pre upgrade procedure has been documented.

[2016-07-27 09:05] #1199 closed

[2016-07-27 09:07] git-harry commented on #542
If it's legitimate to have no connections, although unlikely, that implies to me that this is a low priority bug.

MaaS will deal with unhandled exceptions by raising an alert so I would say this was a small enhancement if it was just a case of providing better error messages but this sounds like legitimate situations could cause an alert.

[2016-07-27 09:09] mancdaz commented on #1128
Discussion has occurred in the OSA bug, as well as internally with DBA group on ML. We are currently looking into the conditions which may have caused this bug to manifest, but the likelyhood is that this was a one off occurrence and not something we can fix in OSA or RPCO.

Given the isolated occurrence and difficulty in reproducing, I am making this a prio-3.

[2016-07-27 09:30] git-harry commented on #1252
Thanks @txgunslinger77

[2016-07-27 10:13] git-harry commented on #793
@JCallicoat I'd like to clarify the intention with this issue so it is being tracked in the appropriate backlog. It looks like you are requesting SNMP monitoring, how does your suggestion of integration with external monitoring fit with the current product? How do you envisage this change being utilised? Is it intended for all customer or a subset?

There have been some recent changes in the way w

[2016-07-27 10:21] git-harry commented on #1225
OSA Kilo is end-of-life therefore any fix for this will need to be made in RPCO.

[2016-07-27 10:37] git-harry commented on #847
It doesn't look like there is anything to do here given the issue's age and the content of the comments so I will close it.

[2016-07-27 10:37] #847 closed

[2016-07-27 11:04] hughsaunders commented on #1119
The liberty patch is now a minimal bugfix rather than a full backport.

[2016-07-27 13:14] git-harry commented on #1064
This should be resolved by changes in how workflow is managed.

[2016-07-27 13:14] #1064 closed

[2016-07-27 13:17] git-harry commented on #1042
It should no longer be necessary to copy labels onto pull request, the use of Waffle and the 'Connected' keyword should allow these things to be appropriately tracked.

[2016-07-27 13:17] #1042 closed

[2016-07-27 13:39] git-harry commented on #1008
@xeregin would you mind providing an update to this in response to my previous comment. Also I've not heard any further issues due to this so I'd like to know if it is still causing problems.

[2016-07-27 14:25] git-harry commented on #1201
There is an open OSA review to address this issue https://review.openstack.org/#/c/347195/

[2016-07-27 14:28] alextricity25 commented on #1129
@nategraf I made some comments.

[2016-07-27 15:10] alextricity25 commented on #1164
PR #1242 ready for another look.

[2016-07-27 21:35] alextricity25 commented on #1164
This has merged in master. Now waiting for checks to pass for the liberty-12.2 backport. #1269

[2016-07-28 01:44] JCallicoat commented on #793
@git-harry Several customers have requested that we configure snmp on servers for consumption in their own monitoring services. The only ask here was to template /etc/snmp/snmpd.conf with some ansible variables. Looking back at previous requests they have been somewhat different in the configs each required. There may not be a common enough pattern to make this worthwhile. Let's close this for now

[2016-07-28 10:32] b3rnard0 commented on #1201
@git-harry I'm going to remove the feature-gating label from this issue as it's not a feature.

[2016-07-28 10:33] b3rnard0 commented on #1119
@git-harry Same with this one, this is a gating bug, not a gating feature.

[2016-07-28 13:57] git-harry commented on #793
Okay, thanks for the quick response.

[2016-07-28 13:57] #793 closed

[2016-07-28 14:12] alextricity25 commented on #1129
@nategraf I've make some comments on the latest patch set

[2016-07-28 15:59] #1119 closed

[2016-07-28 16:01] alextricity25 commented on #1132
I poked the bug reporter for more info on the OSA bug report:
https://bugs.launchpad.net/openstack-ansible/+bug/1565128

Things seemingly look okay on liberty, but I would like to find out some more information from OP to see if he had his environment set up in such a way that would cause this bug to manifest.

[2016-07-28 17:09] alextricity25 commented on #1164
Features have been added and backported to liberty12-2. I'm closing this.

[2016-07-28 17:09] #1164 closed

[2016-07-28 20:02] alextricity25 commented on #1132
Patch set has been submitted to the liberty branch and is ready for review.
https://review.openstack.org/#/c/348533/

[2016-07-28 20:11] ameserole commented on #661
I was looking into this bug and I found where fd 3 is used in the script [1]. It is used to redirect an echo command into stdout while stdout is redirected into the log file. I think that there is no issue here and if anything the comments just need to be updated or the code may need to be refactored a little bit.

@tomc603 @git-harry it looks like the original user who submitted the issue deleted

[2016-07-28 20:38] tomc603 commented on #661
@ameserole I'm actually that ghost user. 😄

For the most part, I was looking at https://github.com/rcbops/rpc-openstack/blob/master/scripts/f5-monitor.sh#L4 That series of redirections looks incorrect to me, and there's still no description of _what_ fd 3 is, where it goes, etc. I briefly searched the F5 docs and couldn't find anything there either.

[2016-07-28 20:44] ameserole commented on #661
@tomc603 oh ok haha. I think fd 3 isn't a F5 thing rather just a hack that the author of the script used in order to get all of the printf statements to go to the logs and this one echo command [1] to print to the console when it gets a proper status code. At least thats what has shown up in my testing.

[1] https://github.com/rcbops/rpc-openstack/blob/master/scripts/f5-monitor.sh#L128-L134

[2016-07-29 10:24] git-harry commented on #1144
Marked as blocked because the upstream issue is currently being worked by a member of the community.

[2016-07-29 16:36] nategraf commented on #1133
@git-harry : The upstream bug is marked as "invalid" for Kilo and Trunk and "won't fix" for Juno with no mention of the newer branches. (It was submitted about 10 months ago) What should we do with this issue?

[2016-07-29 16:44] ameserole commented on #661
@BjoernT How does support use this script? Should all outputs be redirected to the log file including the "success" exit message?
If y'all like the way the success message works then I have noticed that [1] and [2] should probably be output to fd 3 as well.
[1] https://github.com/rcbops/rpc-openstack/blob/master/scripts/f5-monitor.sh#L140
[2] https://github.com/rcbops/rpc-openstack/blob/master/scr

[2016-07-29 16:48] BjoernT commented on #661
This script is used inside an F5 so logging is done inside TMM processes.
Logging is mostly not enabled as listed [here](https://github.com/rcbops/rpc-openstack/blob/master/scripts/f5-monitor.sh#L4l)

We are internally talking to get rid of this script until then I see no need to really touch it, unless we have to to make the token extraction working for new keystone versions

[2016-07-29 16:49] git-harry commented on #1133
@nategraf my (possibly incorrect) understanding is that this should be configurable with a var. What I would suggest is that you confirm if this is still a valid issue for our supported branches. If it is not valid we need to communicate with support how to fix it. This may include a docs update. If it is valid we need to work out where the fix needs to live and if upstream make sure there is a va

[2016-07-29 16:52] ameserole commented on #661
Thanks for the info @BjoernT
@tomc603 Based off the info that @BjoernT gave and my own investigations I am going to close this bug. If support starts using this script again an issue comes up with how the redirects are working this can be reopened.

[2016-07-29 16:52] #661 closed

[2016-07-29 17:02] git-harry commented on #1149
There's no explanation for why this is blocked. I'm assuming it's because upstream issues are referenced. If you view the comments here and on the associated pull request the consensus was to disable L3HA and so work around the fact that there are bugs by not using this feature. This issue should be used to implement that change.

Note the existing pull request has been done by @BjoernT, you will

[2016-07-29 18:07] alextricity25 commented on #1132
Updates can be viewed here:
https://bugs.launchpad.net/openstack-ansible/+bug/1565128

[2016-07-29 18:22] ameserole commented on #934
Master no longer uses beaver as of [1] so I am going to remove master from the list of affected branches

[1] https://github.com/rcbops/rpc-openstack/commit/2d7bce0ae13399b59ac98833b066ce9248f1fb00

[2016-07-29 20:29] BjoernT opened #1271 "OSA Galera Race condition fix for Liberty upgrades"
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

The galera database can fall down during Liberty upgrades and it needs to be manually fixed in order to continue upgrades.
The primary reason for that

[2016-08-01 07:37] git-harry commented on #1271
This is a duplicate of https://github.com/rcbops/rpc-openstack/issues/1201

@BjoernT the section in the description, below the line, is used to record the actions taken when resolving the problem. It is intended to be completed by the dev assigned to work on the issue. Please do not fill it in when creating a new issue.

[2016-08-01 07:37] #1271 closed

[2016-08-01 08:43] evrardjp opened #1273 "scripts/deploy.sh can't run twice on master"
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?
Ability to use ./scripts/deploy.sh m

[2016-08-01 10:31] git-harry commented on #1149
@alextricity25 based on you moving this to doing I'm assuming it's not blocked and so I'll remove the label.

[2016-08-01 10:34] evrardjp commented on #1273
Probably a
`if test -f /etc/openstack_deploy/user_variables.yml; then`

on L62 and L121 would help.

[2016-08-01 10:35] git-harry commented on #1133
I've removed the blocked label based on my previous comment. @nategraf if you still think this should be blocked let me know and we can discuss.

[2016-08-01 12:20] #1201 closed

[2016-08-01 13:01] evrardjp opened #1274 "filebeat not started on containers"
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?
filebeat should ship logs by default

[2016-08-01 13:23] mancdaz commented on #708
@BjoernT ping

[2016-08-01 14:18] mancdaz commented on #1273
@evrardjp at what point did your run fail for you to see this? If ```/etc/openstack_deploy``` already exists, the step to mv the ```/etc/openstack_deploy/user_variables.yml ``` file would be skipped.

Can you please provide very clear steps to reproduce?

[2016-08-01 14:44] evrardjp commented on #1273
Sorry my bad, it's a problem with my paste, it's not in user_variables, but for secrets.

L62 is to be ignored. Only L121 is important.

[2016-08-01 16:02] #1274 closed

[2016-08-01 16:10] ameserole commented on #934
UPDATE:
Created a pull request for this issue against Liberty https://github.com/rcbops/rpc-openstack/pull/1277

[2016-08-01 16:39] git-harry commented on #1013
Due to the inability to reproduce the issue and no new reports of this issue I'm going to close it.

[2016-08-01 16:39] #1013 closed

[2016-08-01 17:03] alextricity25 commented on #1149
For updates, please see the PR#1150

[2016-08-01 17:45] git-harry opened #1278 "Booting instance cause infinite recursion in the case of enough user quota and unlimited project quota"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
liberty-12.2
##### What type of issue is this? Please tick the appropriate box.
- [x

[2016-08-01 18:38] tomc603 commented on #941
@nategraf is spinning up an environment to do some testing, and is currently in the discovery phase on this. @Frank-ZhangXin and @cloader89 has also offered help.

[2016-08-01 18:49] alextricity25 commented on #1132
PR for this is ready for review

[2016-08-01 18:55] nategraf commented on #1129
Reviews that need to be completed in order:
1. https://review.openstack.org/#/c/348964/
2. https://review.openstack.org/#/c/348533/
3. https://review.openstack.org/#/c/348330/

Once all three of these patches are merged, this bug will be closed

[2016-08-01 18:56] tomc603 commented on #1236
I have work done to create a template that contains configuration for each service on each host, which might be an acceptable minimal first merge. I'd prefer to have a single configured check for multiple processes.

[2016-08-01 19:19] alextricity25 commented on #1149
Due to https://review.openstack.org/#/c/347998/, simply turning off l3_ha via overrides won't work in mitaka(since the os_neutron role can't re-run). We will have to wait until RPCO includes this change before turning off l3_ha in mitaka.

For now, i'm going to see if I can get this change into liberty. I'll make a new PR into liberty-12.2 once I'm done with my research. There are many questions t

[2016-08-01 21:26] nategraf commented on #1133
I looked into this issue a little further and spoke with support.
A) This is actually not a bug in openstack-ansible. It is a feature of cinder cli [1] which was not implemented until Kilo.
B) Any environments using Kilo or later will not experience this issue.
C) There is at least one customer using Juno with over 1000 volumes, and they are seeing this issue.
D) There is a workaround, which is to

[2016-08-01 21:49] #1100 closed

[2016-08-02 09:02] git-harry commented on #1144
It has been requested that we take a more proactive approach with this issue so I have removed the blocked label.

[2016-08-02 11:24] #1273 closed

[2016-08-02 11:30] git-harry commented on #1149
@evrardjp @prometheanfire @Apsu @tomc603 would you please provide your thoughts regarding disabling l3_ha in Mitaka. This issue was originally raised to make the change for Liberty, is it still appropriate to do this in Mitaka?

[2016-08-02 13:03] mancdaz commented on #1132
OSA review for liberty has merged

[2016-08-02 13:09] #1132 closed

[2016-08-02 13:18] alextricity25 commented on #1149
Also,
5.We have to consider how lingering HA networks will be handled after L3HA has been turned off(after an upgrade, or even just by setting l3_ha to false and re-running the os_neutron role).
6. How about lingering router namespaces? Since L3HA creates *at least*  min_l3_agents_per_router namespaces. How do we deal with the passive router namespaces? Will those be cleaned up, or will we have to

[2016-08-02 13:37] mancdaz commented on #708
Having looked more into this, it seems the issue is explicitly referring to the fact that ```maas_excluded_devices``` was being ignored. ```maas_excluded_devices``` was fixed as a part of the following PRs:

kilo: https://github.com/rcbops/rpc-openstack/pull/1256
liberty: https://github.com/rcbops/rpc-openstack/pull/1250
master: https://github.com/rcbops/rpc-openstack/pull/1241

Therefore I am goi

[2016-08-02 13:37] #708 closed

[2016-08-02 13:39] #1133 closed

[2016-08-02 13:41] nategraf commented on #1133
Closed based on this bug only effecting Juno, which is EOL.
For environments which will not be upgrading to Kilo or later, query the database directly to get a complete list of volumes.

[2016-08-02 13:53] ameserole commented on #1278
@git-harry Looks like @JCallicoat proposed a backport to liberty upstream already [1]. Does this need to be added to RPC-O also?

[1] https://review.openstack.org/#/c/329231/

[2016-08-02 14:23] ameserole commented on #934
UPDATE:
Added the kilo backport #1280

[2016-08-02 15:06] #1129 closed

[2016-08-02 15:08] prometheanfire commented on #1149
Unless https://bugs.launchpad.net/neutron/+bug/1590845 is backported to mitaka. we'll need to disable it.  It'd be nice to just get it backported at least to mitaka.  Also, it was my understanding that the arp entries are now (in mitaka) populated by flood and store, but this is more specific to L2Population.

[2016-08-02 15:13] b3rnard0 commented on #1079
@Frank-ZhangXin Please provide an update on this issue. Thanks.

[2016-08-02 15:13] b3rnard0 commented on #1236
@tomc603 Please provide an update on this issue. Thanks!

[2016-08-02 15:14] alextricity25 commented on #1149
I recorded a session of what the repercussions of turning off l3ha are:
https://www.youtube.com/watch?v=7ibwjZqQN9Q

That should address some of the questions above, but there is still more to be researched.
* lingering keepalived pr

[2016-08-02 15:22] alextricity25 commented on #1149
We could disable this in mitaka as well, but we have to wait for https://review.openstack.org/#/c/347998/ to be included in RPCO. Otherwise operators won't be able to re-run the neutron playbooks(unless they are doing a minor release). This is why the mitaka PR for this is blocked:
https://github.com/rcbops/rpc-openstack/pull/1150

[2016-08-02 15:23] prometheanfire commented on #1149
ya, saw that we'd need to get that review :P

[2016-08-02 15:29] sigmavirus24 commented on #1260
This looks like pip-lockdown.yml wasn't run prior to running site.yml (or wasn't run for the hosts that site.yml targets). Is there pip configuration pointing to the repo mirror on those hosts?

[2016-08-02 15:33] git-harry commented on #1149
@alextricity25 the first release of Mitaka will not include support for major upgrades.

[2016-08-02 16:02] alextricity25 commented on #1149
@git-harry That's great. That means having L3HA set to false by default for liberty/mitaka greenfield deployments is fine. But what about minor upgrades for liberty builds?

[2016-08-02 16:19] shane-c commented on #1260
I didn't run pip-lockdown.yml. Does that playbook need to be manually run? This is the order playbooks were run.

setup-hosts.yml
setup-infrastructure.yml
setup-openstack.yml
site.yml

No limits were used on any playbooks. I think it is a problem with certain hosts being targeted by pip-lockdown.yml/site.yml, because compute/infra01 nodes don't run into this error, only infra02/infra03/logging/cep

[2016-08-02 17:35] #934 closed

[2016-08-02 18:44] sigmavirus24 commented on #1260
I'm going to have to let @mancdaz answer whether or not that needs to be run separately. It looks as if he authored the playbook in question. It's surprising that you don't have a wheel of cryptography ready built in your repo mirror. It looks like we downloaded 1.4 from PyPI. I wonder if you could tell us which task this was part of. I wonder if require a newer version than what is built into the

[2016-08-02 18:57] shane-c commented on #1260
The cryptography wheel is in the repo, but the apt packages libffi-dev and libssl-dev are not on the failing hosts for some reason, so pip install cryptography fails.
[code]
A quick fix might be to add libffi-dev and libssl-dev to the list of packages we install in setup-hosts.yml.

[2016-08-02 19:08] sigmavirus24 commented on #1260
That's not how wheels work.

When we create the wheel file above, it will actually not then require those binary dependencies from the operating system in order to operate. Also, if you look closely at the logs you provided, pip *downloads* `cryptography-1.4.tar.gz` but the file in your wheel repo is `cryptography-1.1.2-cp27-non-linux_x86_64.whl`. Those are two completely different versions, files

[2016-08-02 19:10] sigmavirus24 commented on #1260
Besides, adding those binary dependencies to every place cryptography *might* be installed will slow down the deployment, which is not the direction we're trying to head in.

[2016-08-02 19:14] shane-c commented on #1260
Ah, I see. This has happened on a number of greenfield deployments, the last two I worked being the latest tagged release r12.2.1. I'm not sure what we could be doing that would produce this issue on multiple deployments.

[2016-08-02 19:16] sigmavirus24 commented on #1260
@shane-c Could you tell us what task was being executed when you saw this? Or what playbook even (on a finer grained level than `site.yml` since it just runs *other* playbooks)

[2016-08-02 19:28] shane-c commented on #1260
I didn't grab the full output, sorry. I'm fairly certain it's within setup-maas.yml and specifically the "Install pip packages" task. On the next deployment I'll be sure we grab the full details.

[2016-08-02 20:14] Frank-ZhangXin commented on #1079
@b3rnard0 This bug is assigned to me with @sigmavirus24  as on-boarding pairing program bug. Currently I found run-upgrade.sh is updated since liberty branch by @sigmavirus24 , and it might already patched this bug. But we need to verify it soon.

[2016-08-02 20:37] alextricity25 commented on #1149
I've made a PR to liberty #1284 . However, there are a few things support needs to be aware of before turning off l3_ha *on an existing environment with l3_ha already on*.

1. Will the IPs of a L3 neutron router auto-migrate from the "secondary" networking node to the "primary" after disabling l3ha? Or will they all just stay where they are?
They just stay in whatever networking host they are on.

[2016-08-02 21:02] #1215 closed

[2016-08-02 21:25] alextricity25 commented on #1093
I can take a look at this, but as @git-harry pointed out, it won't be backported to Juno. That branch is EOL.
@claco Do we have some HP gear I can play around with?

[2016-08-02 22:04] cloader89 commented on #941
I was able to reproduce the output in the original issue report. Going to see if I can reproduce the error in the comments.

[2016-08-02 22:33] cloader89 commented on #941
I propose that we use either inventory_hostname or ansible_hostname throughout, not using one somewhere, and the other somewhere else. What do you guys think?

[2016-08-02 23:22] cloader89 commented on #941
I would like more information @BjoernT, which SHA are you using?

[2016-08-03 07:16] mancdaz commented on #1128
After much digging, our DBA has concluded that this is a bug caused by the use of the  --compact option. Given that this option is "pretty useless in many environments", his recommendation is to disable this option to fix the bug.

Since this is a fix that must go into OSA, we will need to track the fix(es) here.

[2016-08-03 08:19] mancdaz commented on #1260
Yes, we added the pip-lockdown playbook in https://github.com/rcbops/rpc-openstack/commit/8a3a6aaa0af5212d37f77aa774f1ea1721531b5c to ensure consistent pip files across all hosts and containers.

We added a step to our deploy.sh and upgrade.sh scripts to ensure this playbook gets run:

https://github.com/rcbops/rpc-openstack/blob/liberty-12.2/scripts/deploy.sh#L163-L166
https://github.com/rcbops/r

[2016-08-03 09:22] mancdaz commented on #1149
Thanks @alextricity25 for all your research and notes here. It seems like disabling it is the right thing to do, but we need to document the steps a deployer (support) should take when moving from an environment where this has already been enabled.

This means that in addition to the PRs to disable it, you should  make a PR to the docs repo detailing all of this, what to look for, what the impact

[2016-08-03 09:31] mancdaz commented on #1260
I wasn't able to recreate this on an AIO, but thinking about it that stands to reason as it is the deployment host, and in your environment the deployment host is unaffected.

I do think though that it's likely the cause. I'd be interested to see the pip.conf from your infra03 since that's where you showed the error. If it has the same pip.conf as infra02 that you showed, then I'm confused as to h

[2016-08-03 12:35] sigmavirus24 commented on #1260
@mancdaz would be good to compare the pip.conf files from infra0{2,3} with infra01 since this (maybe?) doesn't happen there.

[2016-08-03 13:52] alextricity25 commented on #1149
@mancdaz Sounds good. I'll sync up with Robb to figure out a good place for this. Thanks!

[2016-08-03 13:59] BjoernT commented on #941
This problem is existing in all versions of Kilo and Liberty. The particular SHA does not matter if you just look at the playbooks referencing different names. I suggest do change verify-maas to use the same variable as the Maas playbooks installing the checks. Other way around will cause havoc during upgrades

[2016-08-03 14:20] alextricity25 commented on #1093
Correct me if I'm wrong, but according to the subprocess documentation, when a command returns a non-zero exit code when run with check_output() , it raises a CalledProcessError exception, which we don't catch here[1].

If the command run by subprocess were to return a non-zero exit code, and this exception is raised, would the hp alarm criteria still be evaluated correctly? Or will the entire che

[2016-08-03 15:06] git-harry commented on #1093
@alextricity25 an uncaught exception should cause the plugin to fail which should generate an alert in MaaS. That is by design, basically if we're going to do something with the exception, for example retry some command or provide a more useful error message, it makes sense to catch it. Otherwise I'm not sure there is any benefit because the script will already fail in such situations.

[2016-08-03 16:42] shane-c commented on #1260
All the pip.conf are the same. Since site.yml is the last playbook we run, I would think pip problems would pop up earlier when running infrastructure/openstack playbooks. I also don't see how the pip.conf file could have been modified after I ran into this error, unless pip-lockdown is run sometime after I installed the two missing packages, which it doesn't sound like it is. Is there a preferred

[2016-08-03 16:47] shane-c commented on #1260
Just checked deploy.sh and it is run right after setup-hosts.yml. We'll modify this in our install steps and see if we run into this again.

[2016-08-03 16:53] sigmavirus24 commented on #990
@rcbops/rax-qa @Mudpuppy12 @valw ping

[2016-08-03 17:15] Mudpuppy12 commented on #990
Actually it does use the f5_config,py script. It take the output of that script and uploads it into the F5 via REST api. Support / RPC just hands the output to netsec to configure the F5.

I think there would be a minor change to the script to make it work for both environments, and can be updated kept in rpc_openstack.

The biggest difference I can think of, is the LAB environments put the Config

[2016-08-03 17:19] Mudpuppy12 commented on #990
denn8098@MN80JQG3QN:/tmp$ diff f5-config.py ~/PycharmProjects/rpc_lem/lem-aide/user-tools/f5_config.py
19c19
< import os
---

22a23,38

24,25d39
< PART = 'RPC'
< PREFIX_NAME = 'RPC'
29a44

41a57,59

54c72
<     r' destination *:80 recv "302 Found" send "HEAD / HTTP/1.1\r\nHost:'
---

60c78
<     r' https destination *:443 recv "302 FOUND" send "HEAD / HTTP/1.1\r\nHost:'
---

255c273
<     'nova_co

[2016-08-03 17:20] Mudpuppy12 commented on #990
<code>
denn8098@MN80JQG3QN:/tmp$ diff f5-config.py ~/PycharmProjects/rpc_lem/lem-aide/user-tools/f5_config.py
19c19
< import os
---

22a23,38

24,25d39
< PART = 'RPC'
< PREFIX_NAME = 'RPC'
29a44

41a57,59

54c72
<     r' destination *:80 recv "302 Found" send "HEAD / HTTP/1.1\r\nHost:'
---

60c78
<     r' https destination *:443 recv "302 FOUND" send "HEAD / HTTP/1.1\r\nHost:'
---

255c273
<     '

[2016-08-03 17:20] Mudpuppy12 commented on #990
<pre>
denn8098@MN80JQG3QN:/tmp$ diff f5-config.py ~/PycharmProjects/rpc_lem/lem-aide/user-tools/f5_config.py
19c19
< import os
---

22a23,38

24,25d39
< PART = 'RPC'
< PREFIX_NAME = 'RPC'
29a44

41a57,59

54c72
<     r' destination *:80 recv "302 Found" send "HEAD / HTTP/1.1\r\nHost:'
---

60c78
<     r' https destination *:443 recv "302 FOUND" send "HEAD / HTTP/1.1\r\nHost:'
---

255c273
<     'n

[2016-08-03 17:23] Mudpuppy12 commented on #990
https://gist.github.com/Mudpuppy12/6295b72d268d8dc26bd81eec8af6031b

[2016-08-03 17:50] git-harry commented on #990
@prometheanfire please don't remove these labels, they are required to facilitate appropriate tracking on the board.

[2016-08-03 17:55] prometheanfire commented on #990
@git-harry moving it to doing removed it I think...  I didn't do it any other way :(

[2016-08-03 17:58] ameserole commented on #1143
UPDATE:
A patch has been submitted to master for review
https://review.openstack.org/#/c/350697/

[2016-08-03 17:58] git-harry commented on #990
@prometheanfire - that's weird. Okay, we'll have to keep an eye on that otherwise the board is going to turn into a complete mess.

/cc @b3rnard0

[2016-08-03 18:14] alextricity25 commented on #1093
I think the solution to this bug report should include, but not limited to, catching that exception, and providing a useful error message like you suggested. Just thinking out loud here ;)
 However, it sounds to me that the problem @mtsprout is describing is with a lack of a proper return code when the RAID card is down. @mtsprout suggested it's because "hpssacli ctrl all show config" isn't return

[2016-08-03 18:31] cloader89 commented on #941
Can you be specific as to which same variable?  @BjoernT

[2016-08-03 18:36] alextricity25 commented on #1093
Just confirmed that "hpssacli ctrl all show config" is indeed correct. And if everything is normal it will spit this out:
# hpssacli ctrl all show config

Smart Array P840 in Slot 3                (sn: PDNNF0ARH7P0I5)

   Internal Drive Cage at Port 1I, Box 1, OK

   Internal Drive Cage at Port 1I, Box 1, OK

   Internal Drive Cage at Port 2I, Box 2, OK
   array A (SAS, Unused Space: 0  MB)

[2016-08-03 20:37] alextricity25 commented on #1093
UPDATE: I'm still doing some research as to what is the best way for alerting an operator in case of a RAID failure.  OP said the hpssacli command returns nothing in an event of a RAID failure, but is it enough to check for an empty output before setting the status to CRITICAL? Maybe there is a better way of checking for a RAID failure.
I'm also adding some better exception handling so the plugin

[2016-08-03 22:25] alextricity25 commented on #1093
I looked over the hp_monitoring.py script a little more closely. Theoretically the checks will fail if the raid controller is down. If the raid controller is down, ``hpssacli ctrl all show config`` should report logicaldrive 1 as DOWN, and the plugin will report a metric value of 0, causing the alarms to go into CRITICAL state. That's assuming the command ``hpssacli`` could even be run if the RAID

[2016-08-04 08:10] mancdaz commented on #1260
Thanks @shane-c. I'm going to get a multinode deploy up and running to recreate/test, to see if we can confirm the 'fix' before you run in to it again.

[2016-08-04 08:29] git-harry commented on #1278
@ameserole I don't understand your question.
I see that review has been there for 5 weeks. We need to be working with the community to try and get it merged given the importance support place on its resolution.

[2016-08-04 08:32] git-harry commented on #1143
350679 has now merged, backports still required.

[2016-08-04 09:19] git-harry commented on #1093
@alextricity25 I think reproducing the issue is the only way we're going to be able to tell if we've fixed it.

[2016-08-04 09:56] mancdaz commented on #1260
One thing I noted, the ```bootstrap-ansible.sh``` script runs before any kind of lockdown. It installs cryptography 1.4 on the deployment host

[code]

This is due to a requirement from ansible 1.9.4 on paramiko. This then collects cffi from that dependency chain.

[code]

This might at least explain the difference in cryptography versions on the deployment host versus other hosts.

[2016-08-04 11:49] sigmavirus24 commented on #1260
@mancdaz that does make sense as to why infra01 (the typical deployment host) doesn't have this problem. What is the "fix" you're testing though? I really think we should *not* be installing those apt-packages and allowing cryptography to compile itself for those hosts. That *will* degrade the experience for installations or upgrades.

[2016-08-04 12:35] sigmavirus24 commented on #990
So, what are the actual work items here? How can we move this forward?

[2016-08-04 13:14] mancdaz commented on #1260
@sigmavirus24 I want to recreate the fail by 'not' running the pip-lockdown play that we do run in deploy.sh. Then I want to ensure that actually running it in the correct place makes this issue go  away - at which point it's a doc/process issue that can be updated.

[2016-08-04 13:16] mancdaz commented on #1260
just to clarify, that would mean that all the hosts get a proper pip.conf and install cryptography and anything else using the wheels from the repo, which is the correct approach

[2016-08-04 13:27] ameserole commented on #1143
UPDATE:
Backports have been submitted:
https://review.openstack.org/#/c/351182/ (Mitaka)
https://review.openstack.org/#/c/351184/ (Liberty)

[2016-08-04 15:31] mancdaz commented on #1260
OK so I was able to reproduce this error if I did *not* run ```rpcd/playbooks/pip-lockdown.yml```

As expected though, by not running that playbook I had no ```pip.conf``` at all on my infra0{2,3} hosts (hence the reason cryptography-1.4 is being downloaded from pypi), so I'm still confused as to where your pip.conf on those hosts came from @shane-c.

When I ran pip-lockdown, and then re-ran site.

[2016-08-04 15:50] prometheanfire commented on #990
@Mudpuppy12 when do you use your script?  All LEM / LAB builds?

[2016-08-04 15:57] alextricity25 commented on #1093
Per @claco's request, I'm keeping this as blocked until support can give us a little more information about the plugin's behavior in an event of a RAID controller failure. Tagging @TEKNISHEN and @coldcolors for tracking purposes.
 Could you guys keep us in the loop next time a RAID controller failure happens on an HP server? Maybe jot down some notes of the behavior of the plugin and alarms?
It wo

[2016-08-04 16:15] ameserole opened #1291 "OSA [1588051] Implement better options for handling log sizes via logrotate"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-08-04 16:19] ameserole opened #1292 "OSA [1588051] Resolve double-logging"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-08-04 16:24] ameserole commented on #1143
@git-harry @BjoernT I added two more issues to keep track of the separate fixes that were suggested in the original bug report. The bug that I fixed with this card is only the syslog leakage issue pointed out.

https://github.com/rcbops/rpc-openstack/issues/1292
https://github.com/rcbops/rpc-openstack/issues/1291

[2016-08-04 19:04] #1143 closed

[2016-08-04 19:36] alextricity25 commented on #1149
The two PRs are ready for review:
https://github.com/rcbops/rpc-openstack/pull/1284 (liberty)
https://github.com/rcbops/rpc-openstack/pull/1285 (mitaka)

@git-harry Who did you say you wanted to take a look at these?

[2016-08-04 19:41] Frank-ZhangXin commented on #1079
Update:
we basically fixed the task array issue which causes playbook name misplaced when re-run run-upgrade.sh script. To be simple, task array is supposed to remove accomplished task(s) and start from the very spot where previous exception happened. The bug happened because upgrade script doesn't treats completed tasks well and additionally leaves empty entries existing in the array, which event

[2016-08-04 21:26] prometheanfire commented on #990
here's a diff of @Mudpuppy12's diff to be flake8 (with max line length of 120) passing and should also by py3 compat (print and itteritems).

https://gist.github.com/prometheanfire/1f526777ed8bfb1dc9ea8107ff82cb5a

[2016-08-04 21:28] prometheanfire commented on #990
here's the diff of master to my changes https://gist.github.com/prometheanfire/db7a7fa9fcc06ca4edb18df4a30cdb3c

[2016-08-04 21:53] prometheanfire commented on #990
@Mudpuppy12 here is my diff that allows the script to be used in both LEM and PROD.  I wasn't sure about lines 138-147, so I left those in for now (I don't know f5 syntaxy things).

https://gist.github.com/prometheanfire/8731bdbcdb07caecc6cb0116a5eb20bb

[2016-08-04 21:54] prometheanfire commented on #990
also, for others, this is what I want to be merging into master, https://gist.github.com/prometheanfire/8731bdbcdb07caecc6cb0116a5eb20bb

[2016-08-05 08:43] mancdaz commented on #1260
@shane-c given that the [documentation details using the deploy.sh script](https://github.com/rackerlabs/docs-rpc/blob/master/internal/rpc-install/ch-playbooks-rpc.rst#running-the-rpco-deployment-script), which would ensure that you wouldn't encounter this issue, there's not much else I can do to fix the docs or the code to account for what you experienced.

If you are able to use the ```deploy.sh

[2016-08-05 09:14] git-harry opened #1293 "rpcd/playbooks/site.yml is not actively maintained"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
All versions
##### What type of issue is this? Please tick the appropriate box.
- [x

[2016-08-05 09:33] evrardjp opened #1294 "gitignore doesn't exclude macos x crapfiles"
#### This section is completed by the issue reporter
all branches

##### What type of issue is this? Please tick the appropriate box.
- [ ] bug - existing functionality that does not work for you as documented
- [x] feature - new functionality that you would like to see added

##### What is the expected behavior?

git status doesn't include the .DS_Store files

##### What is actually happening?

g

[2016-08-05 09:36] mancdaz commented on #1093
@alextricity25 There was another controller failure last night. Unfortunately, as discussed, this usually results in an OS lockup and therefore the agent output cannot be captured.  In this case, also as discussed, a 'host down' type alert was generated, which is as good a behaviour as we can expect in this type of scenario.  The only thing that could be captured was the hardware logs, after the s

[2016-08-05 11:21] git-harry commented on #1149
@Apsu @tomc603 @evrardjp @prometheanfire please would you review the pull requests associated with this issue.

[2016-08-05 13:20] ameserole commented on #1292
Looks like a patch for this has already been implemented.

[2016-08-05 13:20] #1292 closed

[2016-08-05 14:51] alextricity25 commented on #1149
UPDATE:
I tried updating the router "HA" attribute **before** turning l3ha off in the neutron config, and that seemed to do the trick. The catch is that the router must be in admin_state DOWN before it allows you to update the HA attribute, but at least this way you won't have to delete the router and re-create it. I'll update the docs in docs-rpc

[2016-08-05 14:54] shane-c commented on #1260
Thanks @sigmavirus24 and @mancdaz for help with this. We've adjusted our install steps. The problem with using deploy.sh is it will never be a fully automated install for us because we rely on an F5 config for our deployments. If/When deploy.sh can automate an F5 configuration (maybe using the F5 API), running each playbook gives us more control and insight if/when a playbook fails for whatever re

[2016-08-05 15:04] shane-c commented on #1293
In a multi node deployment utilizing an F5, deploy.sh will fail at the setup-infrastructure.yml playbook because there is no F5 configuration.

[2016-08-05 15:41] b3rnard0 commented on #941
@BjoernT Please provide feedback on the pull request at your earliest convenience. Thanks!

[2016-08-05 15:45] b3rnard0 commented on #1093
@BjoernT Please provide some feedback on our current assessment. Thanks.

cc: @git-harry @mancdaz @claco

[2016-08-05 20:08] prometheanfire commented on #990
update

I have a lab checked out, had to reboot all nodes so the br-mgnt came up, but can't access the last two storage nodes to reboot, have to wait for @Mudpuppy12, also this'd be nice to be done at the end of rekicks :D

I've also generated the script but cannot do anything with it as @Mudpuppy12 is out of action right now.

because of the aforementioned issues I'm marking this as blocked

[2016-08-07 22:48] evrardjp opened #1296 "Rackspace mirror not used by default anymore for apt"
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
none yet - but it will impact master on next osa sha bump.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the exp

[2016-08-07 22:49] evrardjp commented on #1296
See also:
https://review.openstack.org/#/c/352093

[2016-08-08 10:51] mancdaz commented on #1260
Hi @shane-c - can you point me to the internal docs that you use where it documents the broken out steps so I can see where we might need to update it. As I said, the docs I looked at suggest using deploy.sh so if there is a large gap there then we need to close it.

[2016-08-08 14:06] ameserole commented on #1291
Looks like this one already got addressed as well but the patch was never linked to the bug report in OSA

[2016-08-08 14:06] #1291 closed

[2016-08-08 15:23] Frank-ZhangXin commented on #941
Update: we have just built liberty and kilo backport for this patch, and wait the result.

[2016-08-08 16:04] Frank-ZhangXin commented on #1079
Update: patch has been submitted and waiting for review: https://review.openstack.org/#/c/352488/

[2016-08-08 16:32] alextricity25 commented on #1093
I'm still waiting for a response on this one.
From what I have gathered, the plugin already checks for a blank output and throws an exception in such a case. In addition, there really isn't anything we could add to this plugin to alert for a RAID controller failing, since it causes an OS-lockup and at this point the monitoring agent is unusable.
Administrators should be getting some other type of

[2016-08-08 20:05] ameserole commented on #1261
@shane-c have you seen this in any more liberty deployments? After some initial testing in an AIO I was not able to reproduce it. I am continuing my though.

`root@messy-rpc:/opt/rpc-openstack/rpcd/playbooks# git describe --all
heads/liberty-12.2
root@messy-rpc:/opt/rpc-openstack/rpcd/playbooks# pip freeze | grep keystone
python-keystoneclient==1.7.2`

[2016-08-08 20:39] shane-c commented on #1261
Pretty sure this can be closed and was caused by not running pip-lockdown.yml after setup-hosts.yml as it's done in deploy.sh.

[2016-08-08 20:42] ameserole commented on #1261
@shane-c Thanks for the info. Im going to close this issue then.

[2016-08-08 20:42] #1261 closed

[2016-08-09 08:02] git-harry commented on #1093
@JCallicoat are you able to provide feedback on this issue as to whether or not support has any concerns with it being closed.

[2016-08-09 08:58] JCallicoat commented on #1093
@git-harry In my experience the bug in the controller firmware does cause the OS to lock, but it sounds like @mtsprout may have seen a case where he caught it before lockup. If we could be notified when the server is about to crash rather than after it's already down, I think that would be valuable. The latest available firmware is still buggy, so even targeting this to Kilo or Liberty could still

[2016-08-09 10:43] git-harry opened #1300 "Reporting the remaining steps when upgrade.sh fails"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
all versions
##### What type of issue is this? Please tick the appropriate box.
- [x

[2016-08-09 10:52] git-harry commented on #941
@nategraf remember that the checklist in the description needs to be completed. Currently the branches liberty-12.2 and kilo have been ticked but master hasn't, this doesn't match up with the pull requests. This idea is that the branches listed should be the ones requiring the fix and they should be ticked when the fix merges.

[2016-08-09 13:03] mancdaz opened #1301 "virtualenv is not present on multinode installs: setup-maas.yml fails"
##### On which version(s) do you encounter this issue?

heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?
The setup-maas playbook completes successfully

##### What is actually happening?

[2016-08-09 15:32] #1260 closed

[2016-08-09 16:17] mancdaz opened #1303 "maas templates point to wrong location for maas plugins"
##### On which version(s) do you encounter this issue?

heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

All maas checks and alarms get configured correctly on all hosts in a multinode d

[2016-08-09 17:55] sigmavirus24 opened #1305 "Swift Logs Need Multiline Regular Expression"
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

[code]
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added
##### What is

[2016-08-09 17:56] sigmavirus24 commented on #1305
@erikmwilson since you're handling the documentation for our logging updates, you should probably add this as a known-bug.

[2016-08-09 18:23] ameserole commented on #1278
UPDATE:
The backport is not passing gating tests. I am investigating on how to fix the issues now.

[2016-08-09 19:38] Frank-ZhangXin commented on #1079
Update: jenkins rabbitmq container building failed, though it's one unrelated to my changes. Rerun the check already.

[2016-08-09 21:26] tomc603 commented on #1236
Today's update. The branch is here https://github.com/rcbops/rpc-openstack/tree/issues/1236.

I spoke with Nolan @Apsu and @stevelle to work through what I was missing and what the best approach was to get the templates rendering properly. So, that was another refactor, but well worth the work.

Refactoring the template also allowed me to discover an issue that psutil has when attempting to call `

[2016-08-10 08:34] mancdaz commented on #990
@prometheanfire are there any updates on this issue at all? I know @andymcc helped you past the downed nodes issue you encountered last week. Did you manage to complete the testing?

[2016-08-10 09:07] mancdaz opened #1306 "verify-maas only works on an AIO"
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

#####

[2016-08-10 10:06] #1303 closed

[2016-08-10 11:50] mancdaz opened #1307 "cinder_backup maas check doesn't use venv"
##### On which version(s) do you encounter this issue?

heads/master
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added
##### What is the expected behavior?

The cinder backup check is created as expected, using the venv wrapper where necess

[2016-08-10 12:18] mancdaz opened #1308 "cinder-backup service off by default"
##### On which version(s) do you encounter this issue?

heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

cinder-backup service is running

##### What is actually happening?

cinder-backu

[2016-08-10 13:19] sigmavirus24 opened #1310 "filebeat service is not started on containers with first run of playbook"
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What

[2016-08-10 14:39] #1301 closed

[2016-08-10 14:59] git-harry commented on #1306
Liberty is already using the script module, the change to venvs introduced this bug.

[2016-08-10 14:59] #1306 closed

[2016-08-10 16:39] git-harry opened #1311 "OpenStack logs are duplicated to /var/log/upstart"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug

[2016-08-10 20:53] mattt416 commented on #990
Hi @mancdaz, I've posted a details updated in https://github.com/rcbops/rpc-openstack/pull/1295 regarding SYD-SYD2-2.  I think most issues have been unblocked and @prometheanfire can now continue testing the F5 changes he made.

[2016-08-10 22:09] mancdaz commented on #990
Thanks @mattt416

@prometheanfire can you please finish up the testing here so we can get this issue closed off.

Please also make sure you update the card as you progress so that this can be picked up from where you leave off if necessary.

[2016-08-10 23:38] alextricity25 commented on #1093
@JCallicoat were you able to get a hold of @mtsprout?
If you are thinking that it would be more valuable to add checks that monitor the host for potential hardware issues, then maybe it would be best to open up a new card for that. It could be that those checks are already in place, depending on what your looking for.
This bug report only mentions that the hp cli tools return no data in an event o

[2016-08-11 03:36] prometheanfire commented on #990
I just saw this, so no update I'll VPN in tomorrow morning and continue though.

[2016-08-11 12:20] git-harry commented on #1091
This was never backported to liberty, was that intentional?

[2016-08-11 12:42] mancdaz commented on #1308
cinder-backup is an optional service, so we should fix this issue by conditionally enabling monitoring for it.

[2016-08-11 17:57] Frank-ZhangXin commented on #1079
Update: jenkins ubuntu trusty test failed, rechecking. And listened to @prometheanfire advice, I changed commit message and comment in script a lot. So everything becomes clear and easy to understand for user.

[2016-08-12 11:01] #941 closed

[2016-08-12 11:09] #990 closed

[2016-08-12 14:45] galstrom21 commented on #1141
The trusty repo contains haproxy version 1.4.24, which does not support check-ssl. Unless a later version is installed from trusty-backports it will have to be set to 'check' only.

[2016-08-12 14:58] Frank-ZhangXin commented on #1079
Update: jenkins test passed, and needs to be reviewed and be merged. Link: https://review.openstack.org/#/c/352488/

[2016-08-12 15:40] git-harry commented on #1310
This change is not tested by the existing setup.

[2016-08-12 15:57] sigmavirus24 commented on #1310
@git-harry did you mean to comment on #1318 ?

[2016-08-12 15:58] sigmavirus24 commented on #1310
@git-harry as I understand it, @tomc603 is including filebeat in his process monitoring work so it would be tested it just isn't tested now. Is that satisfactory?

[2016-08-12 15:59] git-harry commented on #1310
@sigmavirus24 yes if there is something to track the additional work that is fine but the general ask is that the description is updated to note it.

[2016-08-12 16:08] tomc603 commented on #1310
@git-harry @sigmavirus24 The parent issue for the process monitoring work is #1236

[2016-08-12 16:28] sigmavirus24 commented on #1310
Updated the description @git-harry

[2016-08-12 16:55] #1310 closed

[2016-08-12 17:04] sigmavirus24 commented on #1217
So, @byronmccollum tried fixing this via #1231 which is now in a merge conflict because we no longer use beaver in master. Since filebeat is not depending on any python packages, I think this is no longer valid for master, but we should be considering how we fix this for liberty and kilo. Does everyone else agree?

[2016-08-12 17:04] sigmavirus24 commented on #1217
I'm also tempted to close #1231 since it's no longer valid for master IMO

[2016-08-12 18:57] mtsprout commented on #1093
If an exception is thrown when no data is returned from hssacli or similar tools, then I consider the issue closed.

[2016-08-15 08:34] mancdaz commented on #190
@nategraf does this need to be considered for backports? Also, please can you update the description with info about doc impact and release notes etc, and links to the backport PRs once they are made.

[2016-08-15 08:41] mancdaz commented on #1308
@mattt416 I think this will need backported to both kilo and liberty since we backported the cinder-backup monitoring to those branches:

https://github.com/rcbops/rpc-openstack/blob/liberty-12.2/rpcd/playbooks/roles/rpc_maas/templates/cinder_backup_check.yaml.j2
https://github.com/rcbops/rpc-openstack/blob/kilo/rpcd/playbooks/roles/rpc_maas/templates/cinder_backup_check.yaml.j2

[2016-08-15 09:20] git-harry commented on #190
Was this tested in a hardware lab? The pull request checks do not test this script. The description above states that additional testing has been included with the change - what is this additional testing?

[2016-08-15 10:24] git-harry opened #1319 "Update issue template with mitaka-13.0 branch"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
master
##### What type of issue is this? Please tick the appropriate box.
- [x] bug

[2016-08-15 12:55] mancdaz commented on #1128
Master OSA review: https://review.openstack.org/#/c/355451/

[2016-08-15 13:57] alextricity25 commented on #1093
Sounds good. Closing per comments above.

[2016-08-15 13:57] #1093 closed

[2016-08-15 14:11] #1319 closed

[2016-08-15 14:42] alextricity25 commented on #1300
Would this be address by https://review.openstack.org/#/c/352488/, @Frank-ZhangXin??

[2016-08-15 14:48] Frank-ZhangXin commented on #1300
@alextricity25 seems people don't agree they're same, but they might be similar. I can take a look at this one as well.

[2016-08-15 14:55] git-harry commented on #1300
To confirm 352488 does not address this issue. The upstream review is to fix a bug in the OSA upgrade script run-upgrade.sh. This issue is to address the lack of reporting by upgrade.sh, the RPCO upgrade script, when it fails.

[2016-08-15 14:59] Frank-ZhangXin commented on #1307
@mancdaz hi, Darren, did this only happened when multi-node deployment? Previous venv patch of MaaS should be based on AIO test environment I think. Thanks.

[2016-08-15 15:30] cloader89 commented on #973
I am taking this over from @ngraf

[2016-08-15 15:50] mancdaz commented on #1307
@Frank-ZhangXin this is a new template that got added after the venv patch went in, so it probably got missed because of timing.

[2016-08-15 17:08] cloader89 commented on #973
I see this was closed and re-opened, can anyone let me know if this is still  an issue or not? I see it was handled in docs. Do we need any programmatic fix?

[2016-08-15 17:44] tomc603 commented on #1149
For documentation purposes, this is going to be related to #973. By disabling l3ha we also need to enable l2pop. But, this means things like Nova live migration won't work, and we'll have to deal with the inherent complexity of l2pop.

[2016-08-15 17:45] tomc603 commented on #973
This will be related to #1149. If we disable l3ha by default, we will need to enable l2pop by default. This is the opposite of what we intended for the Mitaka release, but if l3ha is buggy and not working, we aren't left with many other choices.

[2016-08-15 18:05] prometheanfire commented on #1149
it's my understanding that l2pop can now do flood and learn on ml2/vxlan so it's slightly simpler than it used to be.

[2016-08-15 20:03] BjoernT commented on #973
@tomc603 Whats the background for this comment. L3HA can be disabled without having to enable l2pop, you can still leave l2pop disabled while using VXLAN multicast

[2016-08-15 20:04] BjoernT commented on #1149
OK we are discussing the same thing between #973 and here, let's just pick one issue to continue discussing it

[2016-08-15 20:11] alextricity25 commented on #973
Bjoern is right. I don't think we need l2pop on so long as we have a VXLAN multicast group, regardless of whether or not we have L3HA. There was a problem with having l2pop on with l3ha, but we don't need to worry about that if VXLAN multicast is enabled. The VXLAN multicast group was added here:
https://review.openstack.org/#/c/252100/5

[2016-08-15 20:21] cloader89 commented on #1236
Update: running tests with the new check templates created.

[2016-08-15 20:44] alextricity25 commented on #1144
UPDATE: I have attempted to get a progress report from the community member working the bug; no response yet.
In the mean time, I'm working on reproducing the issue. Due to the nature of the bug, a multi-node needs to be brought up. I'm finishing that up today, and will continue my investigation tomorrow.

[2016-08-15 20:47] tomc603 commented on #1149
Alright, there's some confusion here. I've linked the two issues in both directions for the purpose of future clarity. Almost six months ago, OSA committed changes that used l3ha by default and changed the way l2 population was done.

At some point in the future, we will no doubt enable l3ha. Having all of the relevant historical information easy to find is going to save us time and the confusion

[2016-08-15 20:56] tomc603 commented on #973
@BjoernT Sorry, looking at too many things at the same time. The confusion came from this change https://review.openstack.org/#/c/252100/5/playbooks/roles/os_neutron/templates/neutron.conf.j2 which I just glanced at very quickly and didn't grok properly.

Anyway, our initial intent was to use a VXLAN multicast group to do the L2 work.

[2016-08-16 11:54] nategraf commented on #190
@mancdaz I couldn't find a place in the docs where the exact load balancing method for repo servers is mentioned. (I could have just missed it) A docs change is not needed for this patch in particular, unless it is decided that all load balancing default configurations should be documented.
@git-harry This has not been tested in the hardware lab. I consulted with Johnny and Edgar on the networking

[2016-08-16 14:20] alextricity25 commented on #1144
UPDATE: The community member has dropped the bug, so I assigned it to myself.
I'm not too familiar with the nova codebase, but I can definitely learn ^.^

I don't think this will be a big change, I just need some time to learn the code base and find the best solution.

[2016-08-16 16:57] evrardjp opened #1326 "Mitaka galera log bind mount is wrong"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavio

[2016-08-16 17:08] evrardjp commented on #1326
This could affect any minor update change, so it's better to do it as soon as possible, before any official release.

[2016-08-16 20:59] cloader89 commented on #1236
Ran into a small issue involving defining variables for a specific task. I did toy with using with_dict and failed. Still looking for a solution.

[2016-08-16 21:14] alextricity25 commented on #1144
UPDATE: I haven't been able to reproduce the issue yet. Good news is that I have an environment up that *should* be suitable for reproducing this. I also have some deeper insight as to what the solution might be, I just need to figure out where in the nova codebase would be a good place for the logic. I've contacted one of our nova guys in Australia to see if he could help out a bit.

[2016-08-16 22:00] b3rnard0 commented on #1128
@mancdaz should this be in the Pending SHA update column?

[2016-08-17 09:06] evrardjp opened #1328 "deploy.sh doesn't properly check if osa submodule is properly present"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?

all
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would l

[2016-08-17 15:39] sigmavirus24 opened #1333 "Linting settings are out-of-date and in need of recalibration"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

- heads/master
- mitaka-13.0

##### What type of issue is this? Please tick the app

[2016-08-17 15:47] sigmavirus24 commented on #1333
So it seems the information I was given was wrong. Updating our linting and the files under lint will require a bit more discussion and should happen much later.

As written this issue is invalid, so I'm closing it.

[2016-08-17 15:47] #1333 closed

[2016-08-17 16:37] b3rnard0 commented on #190
@git-harry @mancdaz Please confirm that the backports for Liberty and Kilo are needed.

[2016-08-17 16:41] b3rnard0 commented on #1278
@git-harry This was assigned to Andrew but he is going and I must have missed this one at the replenishment meeting. We need someone to continue this work. cc: @mancdaz

[2016-08-17 16:44] b3rnard0 commented on #1144
@git-harry We need feedback from a Nova contributor. @alextricity25 will try to reach out to someone in the AUS team to see if we can get support for this issue.

[2016-08-17 16:48] b3rnard0 commented on #973
@git-harry Still need clarification on the technical direction for this issue and @cloader89 will need assistance once the decision is made. cc: @mancdaz

[2016-08-17 19:25] sigmavirus24 commented on #1278
@alextricity25 aren't you working on this?

[2016-08-17 21:33] brainerd123 opened #1334 "Playbook Runs Fail in Multi-Domain Environments"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug

[2016-08-17 21:38] brainerd123 opened #1335 "Add OPENSTACK_KEYSTONE_ADMIN_ROLES to horizon_local_settings.py.j2 Template"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug

[2016-08-17 23:15] wesmattson commented on #1015
I agree with @BjoernT on this. It seems like something that would be simple to solve for since ansible can detect the hardware and would automate an otherwise manual step that can easily be missed by the deployments team. Open Compute hardware is coming as well so there will be 3 vendors.

[2016-08-17 23:34] shane-c commented on #1015
+1 Can we get this bumped as a priority?

I don't see why we would want to leave this up to the deployer to set a manual variable when ansible is collecting the system vendor in ansible facts and can use this to deploy the correct hardware checks based on that.

OpenCompute hardware checks are a new feature request (https://github.com/rcbops/u-suk-dev/issues/241), adding even more complexity to th

[2016-08-18 07:20] mancdaz commented on #190
Yes, this should be backported to kilo and liberty since the errant behaviour will exist there too.

EDIT: Backports have been submitted and links added to the description

[2016-08-18 08:28] git-harry commented on #1015
@shane-c @wesmattson the weekly triage meetings, held on Mondays, are where we approve the issues the engineering team will work on next. If you wish to see this issue addressed sooner, please attend or speak with your representatives, so that it is considered at the next meeting.

[2016-08-18 09:49] mancdaz commented on #973
@b3rnard0: @tomc603 is taking ownership of getting this issue resolved, so he can help @cloader89 work through the final decisions.

[2016-08-18 14:18] alextricity25 commented on #1278
@sigmavirus24 no. It should be moved back to approved IMO

[2016-08-18 14:32] alextricity25 commented on #1144
UPDATE: I was able to meet with @tbreeds to get help with some of the nova code. There is still a lot to work though, and it's looking like we are going to need some prerequisite patches before the solution to this problems goes through. I'm keeping this as blocked until we finish working through these patches.

[2016-08-18 15:08] mancdaz commented on #1278
@alextricity25 I'll ask differently. Can you work on this one please :)

We can't move work backwards as it creates flow debt.

[2016-08-18 15:51] BjoernT commented on #1079
@Frank-ZhangXin This requirement is still open:

As additional requirements, we need to print out the RPC-O steps, they are always missing and easily forgotten

[2016-08-18 15:56] BjoernT commented on #1031
@b3rnard0 Please remove invalid tag, given that we now track OSA issues in RPC-O. Thanks

[2016-08-18 15:56] git-harry commented on #1079
@BjoernT there is a separate issue to track that - https://github.com/rcbops/rpc-openstack/issues/1300

[2016-08-18 15:57] BjoernT commented on #995
Being addressed upstream at https://review.openstack.org/#/c/307231/. Closing here

[2016-08-18 15:57] #995 closed

[2016-08-18 16:00] BjoernT commented on #706
@b3rnard0  How can I get those bugs merged, seems like prio3 bugs are not getting any attention even if PR are existing

[2016-08-18 16:16] nrb commented on #1335
https://review.openstack.org/#/c/356727/ is the master review, though it will require a backport to stable/mitaka once accepted.

[2016-08-18 16:17] nrb commented on #1334
https://review.openstack.org/#/c/356711/ is the backport for the keystone library code to support domain-level scoping. There will also need to be a patch to the keystone role to use it, though I've not checked to see if one is in OSA master yet

[2016-08-18 16:19] BjoernT commented on #406
Closing, just tested https://review.openstack.org/#/c/252956/1/doc/source/developer-docs/extending.rst and it seem to work fine. I don't need this in Kilo anymore so we are good here

[2016-08-18 16:19] #406 closed

[2016-08-18 16:46] git-harry commented on #1278
Those assigned to work on revision releases need to organise around the issues that have lost an owner due to changing team membership. As a group we have committed to this work and so need to do our best to complete it.

[2016-08-18 21:41] Frank-ZhangXin commented on #190
@b3rnard0 looks @mancdaz already has done with backport, though I'm in progress. Avoiding duplicated work, I won't commit from my side.

[2016-08-19 09:09] #1308 closed

[2016-08-19 09:58] git-harry commented on #1031
@BjoernT are you able to provide the upstream bug to which this issue relates? There have been several recent fixes to remove log duplication and it is possible this issue has been addressed as part of that. I had a look and could not find it.

[2016-08-19 15:54] Frank-ZhangXin commented on #1079
Update: Jenkins keeps failed with unknown reason, we'll continue track it and recheck.

@BjoernT what kind of requirement do you mention about? If you mean this bug, we're still working on testing here https://review.openstack.org/#/c/352488/.

[2016-08-19 15:58] Frank-ZhangXin commented on #1307
@mancdaz Not sure if we have enough WIP to move this to doing. So that I can start working on this.

[2016-08-19 18:08] b3rnard0 commented on #1079
We will need additional help on this next week.

[2016-08-19 18:12] BjoernT commented on #1079
@Frank-ZhangXin #1300 so if want to split it up in multiple bugs, that's fine but both should be fixed in time since the rpc-o upgrade steps are quite easily forgotten, see https://github.com/rcbops/rpc-openstack/blob/liberty-12.2/scripts/upgrade.sh#L56-L61 those will never be executed when the previous run-upgrade.sh  fails

[2016-08-22 10:30] hughsaunders commented on #1079
Can't find anything that needs reviewing here.

[2016-08-22 14:47] Frank-ZhangXin commented on #1079
@BjoernT OK, I'll take a look at #1300 , but this week is a little busy with trainings.

[2016-08-22 15:51] seancarlisle opened #1343 "Keystone API Local Checks Fail With Upstream V3 Policy and Multi-Domain"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
r13.0.0rc1

###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.0.0rc1

##### What type of issue is this? Please tick the appropriat

[2016-08-22 18:25] major commented on #1335
Backport pending to stable/mitaka:

* https://review.openstack.org/#/c/358805/

[2016-08-22 19:31] major commented on #1335
The backport just merged into OSA's stable/mitaka branch.

[2016-08-22 20:27] d34dh0r53 opened #1345 "The horizon-extensions upgrade fails on repo-build"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-08-22 20:31] d34dh0r53 commented on #1345
@neillc and @r1chardj0n3s any ideas on this one?

[2016-08-22 20:50] major commented on #1326
Working on a WIP patch.

[2016-08-23 08:14] evrardjp commented on #1345
Please read card https://github.com/rcbops/u-suk-dev/issues/199

[2016-08-23 14:44] mattt416 opened #1346 "migrate-yaml.py not merging lists correctly"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

master (mitaka)

##### What type of issue is this? Please tick the appropriate box.

[2016-08-23 14:57] prometheanfire commented on #1346
try with --info as well

[2016-08-23 16:14] d34dh0r53 commented on #1345
@evrardjp removing the path to the previous version worked.

[2016-08-23 18:21] major commented on #1326
Fix proposed to OSA's `stable/mitaka` branch:

* https://review.openstack.org/358852

Reviews needed!

[2016-08-23 18:24] major commented on #1345
I'll see if I can wrangle a patch.

[2016-08-23 23:33] phalmos opened #1350 "Maas checks failing due to maas_common.py"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.0.0rc1

##### What type of issue is this? Please tick the appropriate box.
- [x]

[2016-08-24 14:03] #1296 closed

[2016-08-24 14:56] cloudnull commented on #1350
To make this work we @phalmos and I needed to change ``from keystoneclient.openstack.common.apiclient import exceptions as k_exc`` to ``from keystoneclient import exceptions as k_exc`` as found here: [ https://github.com/rcbops/rpc-openstack/blob/51e68a8b8e99ce4d16c771ce023c2125a5bdcb2b/maas/plugins/maas_common.py#L198 ] which allowed maas_common to load. While this worked, it's likely that some o

[2016-08-24 15:01] git-harry commented on #1350
@phalmos the report include the sentence 'Install MaaS on Mitaka upgrade.' r13.0.0rc1 does not support upgrading from Liberty, that support will not be in place till r13.1.0. Are you able to provide additional details regarding what you were attempting to do.

[2016-08-24 18:47] alextricity25 commented on #1149
Marking this as bocked because of what I mentioned on the PR:
https://github.com/rcbops/rpc-openstack/pull/1284

[2016-08-24 20:21] jpmontez opened #1356 "Allow overridable Tempest networking"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
r13.0.0rc1
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

[code]

##### What type of issue is this? Please tick the appropriate bo

[2016-08-24 21:27] cloader89 commented on #1236
I am in the process of trying to figure out why maas checks are not being setup while using these changes:

https://github.com/rcbops/rpc-openstack/commit/bced5025cfbc17bd800668bdd21410bde536f328

if anyone has any suggestions, I am open to them,

[2016-08-25 08:55] git-harry commented on #1149
@alextricity25 the issue doesn't need to be blocked just because the review process has identified the pull request requires changing.

[2016-08-25 10:09] git-harry commented on #1079
stable/mitaka - https://review.openstack.org/#/c/358641/ has merged upstream and is now in RPCO master. It is not yet in mitaka-13.0 but is not required in that branch.
liberty - https://review.openstack.org/#/c/360385/ in review

I have created https://github.com/rcbops/rpc-openstack/pull/1357 to test that the patch up for review for liberty does not break our upgrade check.

[2016-08-25 12:07] git-harry commented on #1356
@jpmontez https://github.com/openstack/openstack-ansible-os_tempest/commit/403fcf8e19af9dd37ca4a8cc0faf222aeae4fa52 is on the master branch of openstack-ansible-os_tempest and so it would need backporting to stable/mitaka. By the looks of it you need a couple of things backported, e.g. https://github.com/openstack/openstack-ansible-os_tempest/commit/f57ef996. Given that these commits seem to be wr

[2016-08-25 12:11] hughsaunders commented on #1211
While the neutron side of this issue has been fixed, the problem has now been pushed to nova.

Excerpt from a recent [nova api log](http://jenkins.propter.net/job/JJB-RPC-AIO_master-swift/90/artifact/archive/openstack/jrpcaioiad-f0f_nova_api_os_compute_container-bf35e757/nova-api-os-compute.log/*view*/):

[code]

Bug [1586931](https://bugs.launchpad.net/tempest/+bug/1586931) Has been fixed in Nova

[2016-08-25 12:23] git-harry commented on #1211
@hughsaunders would you mind putting this in a new bug instead of reopening this one, it throws off all the reporting and makes work harder to track.

[2016-08-25 12:23] #1211 closed

[2016-08-25 15:42] git-harry commented on #1079
https://review.openstack.org/#/c/360385/ has merged. Now I believe we just require a SHA update. @Frank-ZhangXin are you happy for this to be moved to pending-sha-update or is there something else you still need to do?

[2016-08-25 15:49] sigmavirus24 commented on #1079
I would agree this just needs a SHA update and is no longer blocked.

[2016-08-25 16:51] git-harry commented on #1350
@rcbops/support-feedback are you able to shed any more light on this issue?

[2016-08-25 18:51] jpmontez commented on #1356
The following commits need to be back-ported in order:
- First, https://github.com/openstack/openstack-ansible-os_tempest/commit/f57ef996a28b0a34ca7427ba52876f33c47f7a4d
- Followed by https://github.com/openstack/openstack-ansible-os_tempest/commit/403fcf8e19af9dd37ca4a8cc0faf222aeae4fa52

Those two are a good starting point, but there's one more changes that are needed between the `openstack-ansi

[2016-08-25 19:45] jacobwagner opened #1359 "Flat network creation throws a disabled warning"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.0.0rc1

##### What type of issue is this? Please tick the appropriate box.
- [x]

[2016-08-25 20:11] BjoernT opened #1360 "RPC tunables missing for cinder"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exist

[2016-08-25 20:30] cfarquhar opened #1361 "Facilitate MaaS monitoring for optional services"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?

master
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

[code]
##### What type of issue is this? Please tick the appropriate box.
-

[2016-08-25 23:48] Komish opened #1362 "os_horizon/tasks/horizon_ssl_user_provided.yml task contains mislabeled tags"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r12.2.2

##### What type of issue is this? Please tick the appropriate box.
- [X] b

[2016-08-26 12:08] git-harry commented on #1356
These two patches are required by QE to support their testing:
https://review.openstack.org/#/c/361128/
https://review.openstack.org/#/c/361129/

@jpmontez please 361129, which depends on 361128, to ensure the resultant code meets your requirements.

[2016-08-26 15:08] hughsaunders commented on #1359
@jacobwagner Are you using flat networks? If you are then flat_networks should be populated with a list of mappings for your flat networks.

If you aren't using any flat networks, then neutron_provider_networks.network_flat_networks should not be defined, then the config section will not be templated at all.

From [ml2_conf.ini.j2](https://github.com/openstack/openstack-ansible/blob/liberty/playbo

[2016-08-26 15:48] git-harry commented on #1144
This is currently blocked due to lack of assignee, @alextricity25 has been moved onto other tasks. This can be unblocked as someone becomes available.

[2016-08-26 16:10] git-harry commented on #1362
Upstream issue: https://bugs.launchpad.net/openstack-ansible/+bug/1617389

[2016-08-26 16:12] git-harry commented on #1362
Given that not using tags or using the required tags works around the issue I'm marking the prio-3.

[2016-08-26 16:29] git-harry commented on #1361
Ironic isn't currently supported by the product, this feature is currently being tracked in https://github.com/rcbops/u-suk-dev/issues/91.

This issue described doesn't block having monitoring for Ironic in that the work to include Ironic in the product would require that monitoring was updated to support it. I don't think rpc_maas was designed with the idea that the vars could be overridden to ad

[2016-08-26 17:00] git-harry commented on #1360
@BjoernT the top of the template had been chopped off, I have added it back but it is missing the version you see this issue.
 The section of the template below
[code]
is for use by the development team, please do not complete it because it is used to track the work as it is done.

Is there any reason this can't be achieved by updating user_osa_variables_defaults.yml with a config override? I.e.

[2016-08-26 17:11] git-harry commented on #1343
As I understand it the Keystone functionality on which this depends is not required for r13.0.0 to be released. As such I have marked this as a low priority enhancement.

[2016-08-26 17:25] alextricity25 opened #1363 "repo_build_upper_constraints_overrides defined in wrong user variables file"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-08-26 20:00] BjoernT commented on #1360
As I said upstream I find it disturbing that you can override nova/neutron settings but not cinder. It would be inconsistent not doing it in the same way for cinder since overriding cinder.conf in default settings can cause conflicts

[2016-08-26 20:49] major commented on #1326
Merged in OSA: https://review.openstack.org/#/c/358852/

SHA bump needed for RPC.

[2016-08-26 20:49] tomc603 commented on #973
Ok, third time's a charm. I've drafted several comments on this issue and commented none of them.

@BjoernT if we enable vxlan multicast for l2 population purposes, then we will need to recreate the existing VXLAN interfaces so that existing VM can communicate properly with new VM created after upgrading.

This is a downtime event for each vm, and will require an agent restart as well. So if the e

[2016-08-29 13:13] #1345 closed

[2016-08-29 13:13] #1346 closed

[2016-08-29 14:24] #1363 closed

[2016-08-29 14:38] jacobwagner commented on #1359
We dont use flat networks for testing, we use vlan and vxlan, but we have never seen this error before when using tempest created flat networks. It seems like now we would have to define all of our flat networks before hand, which is new.

That example was straight from the OSA documentation. We have never had to have that dict in place to get any of the networks working as far as i know. And we d

[2016-08-29 14:43] jacobwagner commented on #1359
@hughsaunders so rereading your question.

We dont define neutron_provider_networks.network_flat_networks. We never have. With that said we never needed to. With them not defined in the past we never got this error, and that is what I am trying to get across. I belive that the neutron client has changed functionality when it comes to undefined provider network types and them being allows to be arb

[2016-08-29 15:22] Frank-ZhangXin commented on #1278
@git-harry I saw someone already working on Liberty fix, so should I help him reviewing or open another patch review to fix liberty issue?

[2016-08-29 15:38] cfarquhar commented on #1361
Thanks @git-harry.  I've added basic MaaS checks and alarms for the Ironic API (https://github.com/rcbops/rpc-openstack/pull/1344) as part of a professional services engagement, and this issue and PR were intended to unblock that PR (or get input on an alternative approach if you guys don't like this one).

I've updated https://github.com/rcbops/u-suk-dev/issues/91 and will attend the triage meeti

[2016-08-29 15:52] prometheanfire commented on #1099
The main think I'm not sure of here is if it should target all the way back to kilo or not, it's a smaller change that shouldn't effect much in practice though.

[2016-08-29 15:54] BjoernT commented on #1099
@prometheanfire  This is only of master, perhaps liberty

[2016-08-29 16:40] sigmavirus24 commented on #1361
Am I misunderstanding, or is this just to make our MaaS check/alarm deployment more extendable? This doesn't actually contribute Ironic checks or alarms, yes?

[2016-08-29 18:08] tomc603 commented on #1236
Checks don't seem to be registering in the list of MaaS checks on the portal, so @cloader89 is going to look for feedback from the group at large to see what is required to get the checks to appear.

[2016-08-29 18:22] tomc603 commented on #1278
I discussed the possibility of @Frank-ZhangXin contributing to the upstream Nova project by helping get this patch merged so we can file an OSA bug for a SHA bump to include it, so we can bump the OSA sha in RPC-O and get this deployed. The change looks small and simple, so barring any serious objections by Nova, I can't see any reason this would be too big a deal.

But, the status of this bug sho

[2016-08-29 18:47] cfarquhar commented on #1361
Yes, this issue and PR only make MaaS more extendable.  They are a solution to limitations I encountered when writing the actual check and alarm in https://github.com/rcbops/rpc-openstack/pull/1344.  Once the current limitation is resolved, https://github.com/rcbops/rpc-openstack/pull/1344 will be unblocked and I can re-submit it to gating.

Based on my understanding of the contribution guidelines

[2016-08-30 10:51] git-harry commented on #1361
@cfarquhar the dev team uses issues to track current commitments. Every pull request requires its own associated issue. The issues that we work on are decided based on business priorities, the discussions regarding those priorities, for enhancements such as this, happen during the triage meeting held every Monday. Our ability to commit to new work is based on people available and existing commitme

[2016-08-30 11:08] git-harry commented on #1278
@tomc603 the SHA updates are done as part of the RPCO and OSA release processes. If that is all that's left to do, the issue can be moved to pending-SHA-update. If the Nova patch just needs reviews, this issue can be moved to needs-review or if @Frank-ZhangXin is helping create the patch it should stay in doing. The issue shouldn't be blocked if the upstream work needs completing because part of u

[2016-08-30 11:25] git-harry commented on #1360
Removed status-blocked, it appears to have been added by mistake.

[2016-08-30 13:45] hughsaunders commented on #1359
Hey @jacobwagner, thanks for the updates. The tempest role is attempting to [create a public network](https://github.com/openstack/openstack-ansible-os_tempest/blob/master/tasks/tempest_resources.yml#L228-L243) of type flat - it assumes that flat networks will be available. In your situation flat networks aren't available so it fails. Tempest vars will need to be overridden so that the public netw

[2016-08-30 15:14] tomc603 commented on #973
I just saw @rcbops/support-feedback on another issue. Maybe someone on that list can provide feedback to my last comment?

[2016-08-30 15:29] #1149 closed

[2016-08-30 15:34] BjoernT commented on #973
@tomc603  What is the ask here? We have already automated the conversion to VXLAN multicast as part of the Liberty upgrade. As I said most customers will stay on l2pop after upgrade since multicast is mostly not working or we have not tested all environments and stay at l2pop.
We will not do an upgrade where we run the upgrade playbooks and change to VXLAN multicast at the same time. As a side fac

[2016-08-30 15:55] sigmavirus24 commented on #1236
Quick question: How are you determining which instance of these processes is running on the host versus in a container and how are you reporting that to MaaS? MaaS only runs on the hosts because it needs a device to report for which means that it cannot run in containers.

[2016-08-30 19:42] Frank-ZhangXin commented on #1278
@JCallicoat hi, Jordan. I would like to assist you on the existing backport. Or I am able to take over it if your schedule too packed. What do you think? Thanks

[2016-08-31 10:12] b3rnard0 commented on #1359
@jacobwagner @jpmontez @tbyrom138 If we can get some feedback on the above, it would be most appreciated as we would like to get the rc2 done today.

[2016-08-31 11:19] git-harry commented on #1326
@major issues need to have the appropriate swimlane label when approved so that they are being correctly tracked.

/cc @b3rnard0

[2016-08-31 11:26] major commented on #1326
Ah I missed that one. Thanks for adding it.

[2016-08-31 14:06] jpmontez commented on #1359
I can confirm that overriding the Tempest networking variables works and leads to a successful playbook run.

For reference, I used these variables during my test:
[code]

[2016-08-31 14:20] hughsaunders commented on #1359
@jpmontez Excellent 🎉  glad it works.

Closing as not-a-bug. The tempest role assumes flat networks, but this can be overridden for environments where flat networks are not available.

[2016-08-31 14:20] #1359 closed

[2016-08-31 15:22] b3rnard0 commented on #1359
Thanks peoples for getting this issue resolved!

[2016-08-31 15:58] tomc603 commented on #973
@BjoernT @rcbops/support-feedback Ok. Is it support's opinion we should go back to `l2_population = True` given the above comment?

[2016-08-31 16:09] BjoernT commented on #973
correct

[2016-08-31 17:44] tomc603 commented on #973
I have created two PRs for this.

Master: https://github.com/rcbops/rpc-openstack/commit/d2ff1b40cec8208ac6e116aff7405c67f931d4b4

Liberty: https://github.com/rcbops/rpc-openstack/commit/614ba58304af3d0f3c69c1c722745d7ee6765468

Please review the release note content as well to be sure it clearly spells out concerns with potentially changing this default in existing environments.

[2016-09-01 08:35] git-harry commented on #973
@tomc603 you forgot to create the pull requests. I've created one for the master commit. Once that is merged we can sort out the backports.

[2016-09-01 09:31] evrardjp commented on #973
If you don't mind, I'll give my opinion based on @BjoernT  comment.

"What is the ask here? We have already automated the conversion to VXLAN multicast as part of the Liberty upgrade."
    Good. So I expect all the customers have a way to be with Liberty with l2pop disabled, as recommended by the community. So the safe way forward.

"As I said most customers will stay on l2pop after upgrade since

[2016-09-01 13:15] #190 closed

[2016-09-01 13:48] #1326 closed

[2016-09-01 13:53] #1311 closed

[2016-09-01 13:56] #1128 closed

[2016-09-01 14:01] #1335 closed

[2016-09-01 15:19] nrb commented on #1334
@seancarlisle I've posted some further questions on the upstream bug. Ideally, if I could get a copy of the keystone overrides you're providing in `user_variables.yml` I can do more accurate testing. It's possible there's an issue with the tempating plugin we use that's causing a conflicting policy.

[2016-09-01 16:25] #1079 closed

[2016-09-01 20:58] Frank-ZhangXin commented on #1278
Update: rebase to master, gate test - devstack vm gate test failed, which is caused by timeout of devstack-vm-gate.sh . And other nova network tests failed also. Previous one test related to nova network passed this time. My conclusion is no idea what happened, and need more advise.

[2016-09-01 22:53] tomc603 commented on #1236
I've now added a parameter to check for processes running within a container or on the host itself. Supplying the `-c`/`--container` argument will limit the process search scope to only the given container, so this will require a change to the arguments passed in the MaaS check templates. Omitting the argument will check only the host for the given process(es).

Additionally, the processes supplie

[2016-09-02 09:42] git-harry commented on #1278
@tomc603 is this something you can help Frank with?

[2016-09-02 14:41] b3rnard0 commented on #1278
Currently blocked until we get support feedback.

[2016-09-06 12:56] prometheanfire opened #1380 "Typos in the upgrade scripts"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

master

##### What type of issue is this? Please tick the appropriate box.
- [x] bu

[2016-09-06 14:04] tomc603 commented on #973
All PRs have merged. Closing this issue.

[2016-09-06 14:38] git-harry commented on #973
@tomc603 status-pending-sha-update is only used when the fix depends on something upstream - what does this issue depend on?

[2016-09-06 14:55] tomc603 commented on #973
I misunderstood the lane's definition. Closing this issue again.

[2016-09-06 14:55] #973 closed

[2016-09-06 15:25] Frank-ZhangXin commented on #1278
Update: I've have reached master patch author Rui Chen, and exchange each other's mind. The conclusion so far still is we're getting unrelated gate errors. The patch works for a better nova db unit test rather than triggering devstack and xenserver failed.

[2016-09-06 15:45] sigmavirus24 commented on #1278
I took a look at review. I suspect we'll have to keep rechecking that xenserver CI job until it passes. If it fails a bunch more, we should try to get in touch with the CI maintainers about it.

[2016-09-06 16:02] BjoernT opened #1382 "r13.0.0rc2 lxc_container_caches not configured"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-09-06 17:00] tomc603 commented on #1144
@alextricity25 Would you mind writing up a bit of a hand-off on this so we don't duplicate work? You mentioned that you have some insight into what the solution might be and you mentioned speaking with @tbreeds. Do you have any notes you could put here to help us pick up where you left off?

[2016-09-06 17:12] odyssey4me commented on #1382
I'm not sure why you would want to set that override, as it is already the default set in the group_vars:

https://github.com/openstack/openstack-ansible/blob/stable/mitaka/playbooks/inventory/group_vars/hosts.yml#L44-L48

[2016-09-06 17:56] prometheanfire commented on #1380
fixed, closing

[2016-09-06 17:56] #1380 closed

[2016-09-06 17:58] BjoernT commented on #1382
Closing this out which was related to a inventory screw up. Not sure why the group var has not been applied even if the inventory did not contain containers, the task should only delegate to hosts

[2016-09-06 17:58] #1382 closed

[2016-09-06 18:25] jacobwagner opened #1383 "[Mitaka] - Glance is failing to upload images"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.0.0rc2

##### What type of issue is this? Please tick the appropriate box.
- [x]

[2016-09-06 18:26] jacobwagner commented on #1383
So it looks like we are having haproxy issues but that is not the case as @sigmavirus24 was able to connect to the api directly using pdb. Ill let him elaborate when he is done with his deep dive

[2016-09-06 18:34] sigmavirus24 commented on #1383
So Glance is configured to use swift in this lab.

By default, Glance should always create the container in swift for it's images, but what we're seeing is this:

[code]

Then eventlet drops the connection on the floor it seems which causes a "Broken pipe" error on the connection layer in the client which eventually bubbles up to the consumer as `Error finding address for http://172.29.236.121:929

[2016-09-06 18:35] Frank-ZhangXin commented on #1278
Update: Citrix XenServer CI -dsvm-tempest-nova-network is failed which is caused by "Invalid disk format 'qcow2' for image.".

[2016-09-06 18:40] sigmavirus24 commented on #1383
When we attempt to use glance's service credentials (which work against keystone) to upload the image directly, we get

[code]

[2016-09-06 18:46] sigmavirus24 commented on #1383
So, swift seems to be unable to much of anything and looking at the proxy-error logs, we see:

[code]

Which makes me think the container servers are totally busted.

[2016-09-06 18:47] sigmavirus24 commented on #1383
[code]

Seems to be the refrain in container-error.log. I'm guessing the sqlite database is missing/cannot be created.

[2016-09-06 19:01] sigmavirus24 commented on #1383
So we looked at some of the database files and they were not the permissions that swift was expecting. Some of the mount directories were "998" for user and group and others were "swift". I just tried chowning recursively to the "swift" user and group. Let's see what happens next.

[2016-09-06 19:02] sigmavirus24 commented on #1383
Permissions on the mount directories was the problem. We were able to upload a small test file and glance image-upload seems to be working now.

[2016-09-06 19:14] mattt416 commented on #1350
@phalmos doubt this is related, but just a reminder that the maas scripts need to be run via the venv, for example:

[code]

[2016-09-06 19:31] BjoernT opened #1384 "filebeat apt repos not correctly added"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.0.0rc2
##### What type of issue is this? Please tick the appropriate box.
- [x]

[2016-09-06 20:10] phalmos commented on #1350
@git-harry This was an upgrade from Liberty to Mitaka.  I understand that this is not the upgrade version.  However, customer's requirements dictated the need to upgrade.  So, I went for it following the OSA docs.  All went well aside from this issue with MaaS.

[2016-09-06 21:15] Frank-ZhangXin commented on #742
@git-harry @tomc603 So current goal migrate default interface of network_check_list from eth0 to bond0, right?

[2016-09-06 21:37] cloader89 commented on #1236
Update: I fixed an issue with the labeling the alarms. The fix has temporarily stopped all the checks from running. Will need to restructure the logic in process.yml  and the template files to use the said fix.

It was overwriting the processes variable  when setting facts. The fix made a new list that the processes are in.

[2016-09-07 01:59] JCallicoat commented on #1278
This is blocked upstream waiting for nova stable brach maintainers to merge the backport. Don't think you need anything from @rcbops/support-feedback.

[2016-09-07 09:20] git-harry commented on #1350
@phalmos thanks for the update. Based on the work @mattt416 is doing, https://github.com/rcbops/u-suk-dev/issues/204, I'm going to mark this issue as invalid. It appears there error you encountered was a result of using the greenfield rc.

[2016-09-07 09:20] #1350 closed

[2016-09-07 09:30] git-harry commented on #742
@Frank-ZhangXin it sounds like it.

@txgunslinger77 to confirm, would the following default, set in https://github.com/rcbops/rpc-openstack/blob/master/rpcd/playbooks/roles/rpc_maas/defaults/main.yml#L360-L361, meet your needs in most cases?
[code]

[2016-09-07 12:30] git-harry commented on #1384
Given the nature of the bug and the ease of recovery I do not believe this should block the release of r13.0.0. I have marked it as a prio-2 and we will work on the assumption that this will be addressed in a future patch release.

[2016-09-07 13:12] alextricity25 commented on #1144
I started doing work based off an [abandoned patch](https://review.openstack.org/#/c/164762/9) that stalled a bit. I took the same solution, but moved some of the code around to accommodate what was said in the comments of said patch.
@tbreeds noticed some flaws with the testing of test_get_hosts(), so that needed to be fixed before I could even get the unit tests to pass. As far as I know, those

[2016-09-07 13:22] tbreeds commented on #1144
Yeah getting this fixed in liberty is going to be nearly impossible.  Given it will EOL in ~10weeks and we don't have a fix in master yet.

Focus on master and then we'll see where we wash up.  If I haven't done so already I'll push the testing fixes once Ocata opens up

[2016-09-07 13:57] BjoernT opened #1391 "MAAS/verify-maas not work after r13.0.0rc2 install"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-09-07 14:02] BjoernT commented on #742
That link still shows eth0.
What I did configure was:

[code]

which seem to work

[2016-09-07 14:04] BjoernT commented on #1391
Seems this is already being worked on per https://github.com/rcbops/u-suk-dev/issues/204
Closing here

[2016-09-07 14:22] git-harry commented on #1391
This has also been reported in https://github.com/rcbops/rpc-openstack/issues/1350

This may also be related to https://github.com/rcbops/u-suk-dev/issues/397

[2016-09-07 14:59] claco commented on #1278
@tbreeds Given the time frames around liberty, can you advise on the possibility of this going into liberty upstream? It's something that bubbled up for us and some customers in support.

@jhesketh Can you possibly have a look at this for us from the ci side? The Xenserver CI job seems cranky, and seems like it should be unrelated to the patch, but I don't think we know for sure. Any help would be

[2016-09-07 15:17] phalmos opened #1393 "Glance needs fully qulaified URL in Mitaka including proto"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [X] bug - exis

[2016-09-07 15:34] jpmontez opened #1394 "Cinder volume services not starting"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

[code]

##### What type of issue is this? Please tick the appropriate box.
- [x] bu

[2016-09-07 15:58] weezer commented on #1394
i got the same error on SAT6

oslo_utils/importutils.py", line 36, in import_class
2016-09-07 15:56:01.897 363 ERROR cinder.cmd.volume     traceback.format_exception(*sys.exc_info())))
2016-09-07 15:56:01.897 363 ERROR cinder.cmd.volume ImportError: Class LVMISCSIDriver cannot be found (['Traceback (most recent call last):\n', '  File "/openstack/venvs/cinder-13.3.3/lib/python2.7/sitepackages/oslo

[2016-09-07 16:12] b3rnard0 commented on #1391
@jacobwagner @jpmontez For MaaS related testing awareness.

[2016-09-07 16:17] sigmavirus24 commented on #1393
@phalmos don't you mean this needs to be updated in Nova conf? Nova needs the list of Glance API servers. Glance doesn't need to know this about itself

[2016-09-07 16:19] phalmos commented on #1393
Ummm... Yes.  Sorry, Nova.conf.

[2016-09-07 16:19] sigmavirus24 commented on #1394
Can you share the cinder config for this?

Makes me think this is a configuration problem, potentially

[2016-09-07 16:20] claco commented on #1393
Can you update the bug with:

**On which version(s) do you encounter this issue?**

Please provide the output to 'git describe --all' for all deployments where you have confirmed it occurs.

[2016-09-07 16:21] sigmavirus24 commented on #1393
@phalmos can you share the `[glance]` sectino of your nova conf?

[2016-09-07 16:25] jpmontez commented on #1394
@sigmavirus24 The cinder config is as follows:

[code]

_Note: The passwords/secrets have been removed._

[2016-09-07 16:29] sigmavirus24 commented on #1394
So `LVMISCSIDriver` has been removed but `LVMVolumeDriver` is what actually exists.

[2016-09-07 16:37] BjoernT commented on #1394
My test volume created. Seems like we need to highlight this change in the release notes, especially for upgrades

[2016-09-07 16:41] phalmos commented on #1393
@claco root@cn523:/opt/rpc-openstack# git describe --all
r13.0.0rc1

@sigmavirus24
This is the "fixed" section from nova.conf
# Glance
[glance]
api_servers = http://172.26.148.10:9292

I worked around the issue by defining the override in user_variables.yml:

glance_api_servers: "http://172.26.148.10:9292"

[2016-09-07 16:41] sigmavirus24 commented on #1394
@BjoernT I was just going to create a documentation bug to highlight this as a pre-flight check

[2016-09-07 16:42] sigmavirus24 commented on #1393
@phalmos right, I was hoping to see the section before fixing it.

[2016-09-07 16:55] sigmavirus24 commented on #1393
@git-harry found https://bugs.launchpad.net/openstack-ansible/+bug/1596084 which seems related

[2016-09-07 17:24] sigmavirus24 commented on #1393
So I've backported the fixes from that bug:

- https://review.openstack.org/366879
- https://review.openstack.org/366881

Those need to be reviewed and merged and then we would need a new SHA bump.

@git-harry with that in mind, and given that this appears to only be a warning (not broken functionality) should we put this off until r13.0.1? I don't think this is actually blocking anything otherwis

[2016-09-07 17:41] git-harry commented on #1393
@sigmavirus24 yes, on the assumption it doesn't break nova/glance we can leave it till a patch release. We should confirm that thought because the description includes the line 'Very important as Glance does not work after an upgrade'.

[2016-09-07 18:03] sigmavirus24 commented on #1393
@phalmos can you describe exactly what breaks when you say:

Also, this seems to be second issue related to upgrading to `r13.0.0rc1` from Liberty.

[2016-09-07 18:32] sigmavirus24 commented on #1393
From IRC:

I wonder how r13.0.0rc{1,2} tempest runs are able to boot images then with this same configuration default. Also unclear how anyone else is using OSA stable/mitaka but I'll defer to @jacobwagner and @jpmontez to see if they can reproduce this and let me see the environment.

[2016-09-07 18:48] phalmos commented on #1393
This was an upgrade _not_ a greenfield deploy.  Not sure if QE has even tested upgrades.

[2016-09-07 19:07] sigmavirus24 commented on #1393
@phalmos right, the thing is that r13.0.* (including release candidates) are not meant for upgrades as has been the convention of this project for quite a while. r13.1.* will be the version people should upgrade to. Clearly you've already upgraded to this so we need to determine what the cause is, but if this is an upgrade problem, it should instead be targeted to r13.1.* as that's where all upgra

[2016-09-07 20:02] alextricity25 commented on #1394
How did VLMISCSIDriver get in there? The sample config in liberty onwards have LVMVolumeDriver set for the cinder driver: https://github.com/openstack/openstack-ansible/blob/liberty/etc/openstack_deploy/openstack_user_config.yml.example#L597
Using an older config, maybe?

[2016-09-07 20:04] Apsu commented on #1394
@alextricity25 Good call, even looking in eol/kilo the example has LVMVolumeDriver. Guessing the other has been deprecated a good long while and finally got axed. This must be some old config that got copypasta'd around forever. Woo!

[2016-09-07 20:06] BjoernT commented on #1394
That is just based on old installations where they used the LVMISCSI driver and the same configs have been reused in testing I guess

[2016-09-07 20:12] Frank-ZhangXin commented on #1278
@claco thanks for reference

[2016-09-07 21:45] tbreeds commented on #1278
I'll look at the patch today, with a 30second look I think it'll be okay for liberty.

XenServer is 3rd  party CI so it's more of a nova issues that an Infra issue.  I'll look at that as we may have introduced a regression while that CI was offline.  Also IIUC it isn't blocking the change even with a -1 from that CI we can merge it

[2016-09-07 22:24] jpmontez commented on #1394
Updating the LVM driver name solved this. I think the only remaining item is highlighting this in the documentation.

[2016-09-07 23:54] tbreeds commented on #1278
Yeah so the XenServ CI is misconfigured:  http://dd6b71949550285df7dc-dda4e480e005aaa13ec303551d2d8155.r49.cf1.rackcdn.com/31/329231/3/check/dsvm-tempest-nova-network/b323a09/logs/etc/glance/glance-api.conf.txt.gz

Doesn't list qcow2 it has "ami,ari,aki,vhd,raw,iso" so it'll will never pass.  I'll look at adding a fix to tempest to detect this and skip if required

[2016-09-07 23:55] tbreeds commented on #1278
Actually this is happening because of I41c09d5a682cdb068b97b4bd1be3403ee7973c7c which is relatively new.  We need to get XenServer CI reconfigured

Until then it'll fail everything

[2016-09-08 00:42] tbreeds commented on #1278
I'll reach out to the CI in question.  This *should* be failing on master as well, but like I said it's not on the critical path

[2016-09-08 01:54] tbreeds commented on #1278
I've done the needfull.  I'll poke some of the (non-racker) nova-stable-cores in the next few days

[2016-09-08 12:06] jhesketh commented on #1278
I agree with Tony's assessment here. It's up to the 3rd party CI to fix their tests. Tony let me know if you need any help reaching out to them if you haven't already.

[2016-09-08 12:28] git-harry opened #1397 "Fail if no RPCO release version set"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
heads/master

##### What type of issue is this? Please tick the appropriate box.
- [

[2016-09-08 12:43] d34dh0r53 commented on #1236
Any updates on this?  You guys need any help?

[2016-09-08 12:49] git-harry commented on #1391
Lowering the priority, this will be targeted for the first patch release unless QE report discovering the issue.

[2016-09-08 12:56] mattt416 commented on #1397
Speaking of this, would it be better to just hardcode the release into the code itself, like we do in [1]?  The upside being that we don't need different bits of code trying to auto-discover this, while the downside being that the release manager would have to keep this updated when new branches, etc. are created.  Thoughts?

[1] https://github.com/openstack/openstack-ansible/blob/stable/mitaka/pl

[2016-09-08 13:12] sigmavirus24 commented on #1394
@jpmontez that's what I asked for with https://github.com/rackerlabs/docs-rpc/issues/551 so I think that'll be taken care of appropriately.

[2016-09-08 13:37] BjoernT commented on #1391
@git-harry It does not matter who finds a bug so it is still prio-1 until otherwise proven

[2016-09-08 15:25] Frank-ZhangXin commented on #1278
@tbreeds @jhesketh Thanks, guys. Appreciate professional insight and review.

@git-harry @b3rnard0 So this should be marked blocked until upstream CI test fixed in future. Tony has already state the cause very specifically which points out 'qcow2' format missing in nova config.

[2016-09-08 18:52] xeregin commented on #1391
I'm not seeing this in SYD2-1. This may be an environment/configuration issue.
"verify_maas" is working as expected and reporting alarms in alert status in MaaS.
The Keystone LB checks in our lab are successfully installed and reporting everything OKAY.
We are seeing 2 specific alerts that need to be looked into.
- lb_api_check_horizon (Alarm:alwtLA5atv:innodb_deadlocks--627551-infra01-galera-cont

[2016-09-08 19:05] xeregin opened #1399 "Openmanage version mismatch"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [ ] bug - exis

[2016-09-08 19:58] xeregin commented on #1399
I have verified that this can be fixed by adding the 8.3.0 to the list of supported versions in the openmanage plugin.

[2016-09-08 22:04] tbreeds commented on #1278
Thanks @jhesketh I reached out to them yesterday.

The XenServer CI team has "fixed" the problem by disabling that test :( rather than doing as I suggested and add the appropriate devstack config :(

So this is currently blocked on a second (non-racker) core review of the change in question.

[2016-09-09 01:44] cloader89 commented on #1236
I will update you @d34dh0r53  I have all the moving parts, just need them to work together. I will get with you tomorrow and see if you can help us.  Please take a look at the PR, pushing latest updates now.  We have the set_facts right now, just making it work correctly with the 4 templates.

[2016-09-09 09:00] andymcc opened #1404 "L->M upgrades break MaaS due to pip_lockdown dependency"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-09-09 10:05] evrardjp commented on #1397
I think it's better to have a script to bump version too.
This script could bump osa submodule sha, consuming roles sha (like ceph), change the appropriate version numbers, etc.

In the meantime, we can just ensure failures to avoid silent issues later.

[2016-09-09 13:50] sigmavirus24 commented on #1394
@git-harry you've included release notes for this for r13.0 and r13.1... should the milestone be changed?

[2016-09-09 14:04] git-harry commented on #1391
This issue has not been reproduced and appears to be the result of not following the documented steps for deploying an environment. As part of the upgrades work currently in progress, a similar issue was identified https://github.com/rcbops/rpc-openstack/issues/1404 but this does not impact greenfield deployments when deploying using the correct procedure.

[2016-09-09 14:04] #1391 closed

[2016-09-09 14:09] mancdaz opened #1407 "rabbitmq post_upgrade_check doesn't work"
##### On which version(s) do you encounter this issue?

    heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

If there is *not* a network split in the rabbit cluster, the test should pass

[2016-09-09 14:42] git-harry commented on #1394
This is noted in with docs and a release note is being added https://github.com/rcbops/u-suk-dev/issues/398

[2016-09-09 14:42] #1394 closed

[2016-09-09 14:52] tomc603 commented on #1144
@rcbops/support-feedback Who would be the best person on the support team to discuss this issue with? I have some important feedback to give, and I need to make sure the proper eyes get on it.

[2016-09-09 14:56] Frank-ZhangXin commented on #1278
Update:
gate-tempest-dsvm-neutron-multinode-full and Mellanox CI are failed, but don't block patch merging.
@tbreeds Tony do you family any Nova community or IRC channel that we could send our patch to review? Thanks.

[2016-09-09 14:58] Frank-ZhangXin commented on #742
Update:
Alternate the default NIC of network_check_list and PR was made.

[2016-09-09 15:02] BjoernT commented on #1144
@tomc603 Why not updating this thread, this issue was originally reported by @JCallicoat I believe

[2016-09-09 15:15] tomc603 commented on #1144
My feedback is long and winding, but I'll gladly put it here for posterity.

This bug seems to have been discovered quite a while ago (Kilo is tagged in the initial report), so I'm not entirely sure of the full history or the severity. I'd like to get more details about the impact to customers/support, and the frequency we see this issue crop up. Obviously backporting to Kilo isn't a possibility,

[2016-09-09 15:16] tomc603 commented on #1144
And I forgot to tag @rcbops/support-feedback @BjoernT and @JCallicoat in the above message. Great.

[2016-09-09 15:31] TEKNISHEN commented on #1144
@tomc603 - I've pinged Jordan as well on this.

[2016-09-09 16:13] Frank-ZhangXin commented on #1278
Update:
Just got another +2, patched merged.

[2016-09-09 19:56] BjoernT commented on #1391
@git-harry Please support your comment that documented steps have not been followed. The deployment script is simply just running the plays per https://github.com/rcbops/rpc-openstack/blob/mitaka-13.0/scripts/deploy.sh#L237-L238

[2016-09-09 20:24] git-harry commented on #1391
@BjoernT without precise steps to reproduce this issue it is difficult to say anything with certainty. As it stands the only known way to see the error with the MaaS plugins, assuming the appropriate deployment steps are taken, is when doing a upgrade and since that process is still in development it is not unexpected that we will find bugs. The only report of this error when performing a greenfie

[2016-09-09 20:33] BjoernT commented on #1391
I have a lead the venv is running the wrong python-keystoneclient package version (3.5.0) instead of 2.3.1. Need to investigate where this is coming from

[2016-09-09 20:58] Frank-ZhangXin commented on #742
Update:
Got same error consecutively.
"16:33:27 ERROR: Step ‘Publish JUnit test result report’ failed: No test report files were found. Configuration error?"
After search I consider it as one tempest unit test, but no idea to fix or improve.

[2016-09-09 21:02] BjoernT commented on #1391
OK the issue is related to deploy/upgrade sh stops and the resulting manual execution of playbooks, something still common. The PR 1409 addresses at least this loophole which has been cause of too many issues in the past

[2016-09-12 11:13] git-harry commented on #1393
https://review.openstack.org/#/c/366879/ - merged
https://review.openstack.org/#/c/366881/ - needs review

[2016-09-12 14:44] evrardjp opened #1410 "Ensure that the galera_cluster_name isn't modified during a serial restart of the cluster nodes"
If the deployer decides to change the configuration of the galera_cluster_name during the upgrade, this would be silently missed, and a failure would occur during the serial restart of the galera nodes in the galera-cluster-rolling-restart.yml playbook.

We should make the deployers aware that a change of the galera_cluster_name needs a full rebootstrap of the galera nodes. Because this was done i

[2016-09-12 17:45] tomc603 commented on #1144
@rcbops/support-feedback I still haven't heard anything about this, and I have other priority work coming up soon. I'd like to get this resolved for everybody before that work becomes an emergency.

[2016-09-12 18:35] Apsu commented on #1407
Attempting to reproduce and investigate

[2016-09-12 19:17] #1404 closed

[2016-09-12 21:37] JCallicoat commented on #1144
@tomc603 I don't know of this being a huge pain point for customers. I only know of a handful using affinity groups and haven't heard of this being an issue for them. A lot of our customers use third-party tools like cloudify, etc, or heat templates to build instances where multi-instance boot would not be an option as individual calls are made to boot every instance individually so that is probab

[2016-09-13 05:20] Apsu commented on #1407
@mancdaz Had some trouble with upgrading through what I understood was the process. Can you specify exactly how you're upgrading from liberty-12.2 to master in RPCO? Been spinning up liberty-12.2 AIOs on 14.04, deploying, switching to master cleanly and running test-upgrade.sh but that seems to expect extra config files in /etc/openstack_deploy. @mattt416 has this gist https://gist.github.com/matt

[2016-09-13 08:19] mancdaz commented on #1407
Hi @Apsu I was including the patch from [here](https://github.com/rcbops/rpc-openstack/pull/1396) which adds some extra bits to test-upgrade.sh to make it go - sorry I should have noted that here.

Having said that, I suspect this is possibly a red herring issue. It looks like the initial upgrade that I encountered this on did not upgrade properly (specifically rabbitmq) and so the output was slig

[2016-09-13 08:19] #1407 closed

[2016-09-13 08:53] evrardjp commented on #1393
On it.

[2016-09-13 10:17] git-harry commented on #1393
Both now merged in stable/mitaka

[2016-09-13 10:44] evrardjp commented on #1393
@git-harry can't we directly move that into waiting for sha bump column?

[2016-09-13 15:15] prometheanfire commented on #742
Upstream openstack infra had to do auto detection for network interfaces, finding the primary default is something we can do by registering the output of this bash as an ansible variable.

    ip -4 r | grep ^default | awk '{print $5}'

if you just want ethernet interfaces you can do something like this, but since we want bonds we'd need to modify it a bit.

    for interface in $(find /sys/class/

[2016-09-13 15:27] Apsu commented on #1407
I think it could still be a thing, and I see a valid change that could improve the matching. Made a PR here https://github.com/rcbops/rpc-openstack/pull/1413

[2016-09-13 15:54] b3rnard0 opened #1414 "rabbitmq post_upgrade_check doesn't work (part deux)"
##### On which version(s) do you encounter this issue?

    heads/master

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

If there is *not* a network split in the rabbit cluster, the test should pass

[2016-09-13 17:14] cloader89 commented on #1300
I will start with a Liberty -> Mitaka fix, then do a Kilo -> Liberty

[2016-09-13 19:14] Apsu commented on #460
@BjoernT @JCallicoat I'd like to try to move this forward, but I want to nail down criteria and methods in hopes of covering linux-bridge, OVS, Plumgrid, and whatever else.

First of all, I see two separate considerations here:

* Verify that routers are scheduled to (at least one) agent, admin_state is up, and are actually "there"
* Test that routers are actually routing/floats are actually on in

[2016-09-13 19:37] cloader89 commented on #1300
Update @git-harry it appears that this has already been done in both upgrades. Can you verify?

[2016-09-13 19:44] Apsu commented on #1414
Posted my thoughts on the easy solution https://github.com/rcbops/rpc-openstack/pull/1413#issuecomment-246785395

Waiting for feedback and I'll fix the PR

[2016-09-13 20:42] cloader89 commented on #1236
Need reviews. Thanks.

[2016-09-13 21:10] Apsu commented on #1414
Updated PR

[2016-09-13 23:40] jaime-gutierrez opened #1417 "valid hosts are deleted from /etc/hosts"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
12.0.15

##### What type of issue is this? Please tick the appropriate box.
- [x] bu

[2016-09-14 10:22] #1414 closed

[2016-09-14 10:45] mancdaz opened #1419 "beaver restart in rpc_pre_upgrade takes an age"
##### On which version(s) do you encounter this issue?

[code]

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

Restart of the beaver service on all hosts and containers is completed in an acceptable

[2016-09-14 14:38] b3rnard0 commented on #742
@Frank-ZhangXin Can you please provide an end of day update for this? Thank you!

[2016-09-14 14:41] #1144 closed

[2016-09-14 14:41] b3rnard0 commented on #1144
Marking as won't fix.

[2016-09-14 14:42] claco commented on #1144
The upstream scheduler is being rewritten to address these sorts of problems, and the fix proposed won't solve the issue, only slightly mitigate it in Newton/Mitaka.

[2016-09-14 14:45] tomc603 commented on #800
@timolow What would be an acceptable way to flag these hosts? Do you want removal to be automated, or do you want support to be notified of corruption so they can take corrective action manually?

[2016-09-14 14:45] BjoernT commented on #1417
This has been addressed upstream with https://github.com/openstack/openstack-ansible/commit/3d3fed574ca93397ea1a6930928f468c1508a55d. Hence you should use a recent RPC 12.2.1 version to have this fixed. This will bring us in a bad situation where you have to update the RPC version before adding nodes for example

[2016-09-14 14:49] timolow commented on #800
The removal should be automated so we don't have fubar nodes in rotation, and notify us that a swift node is out of rotation because of corrupt rings.  If i recall the LB never marked the node down, be it a misconfiguration in our heathchecks or swift responds OK to /heathcheck with bad ring information.

[2016-09-14 14:57] git-harry commented on #1417
I'm closing this as invalid because it is already fixed.

@jaime-gutierrez please include the RPCO version not the OSA version next time you create an issue.

[2016-09-14 14:57] #1417 closed

[2016-09-14 15:00] git-harry commented on #1028
Closing based on original issue being addressed.

[2016-09-14 15:00] #1028 closed

[2016-09-14 15:47] Apsu commented on #1031
@git-harry @BjoernT https://review.openstack.org/#/c/367649/ appears to be the upstream change and it just merged today. Looks like we're good to go on this card.

[2016-09-14 15:57] BjoernT commented on #1031
Don't think those are related, https://review.openstack.org/#/c/367649/  is just for ansible logs.
The true dual logging on server side has been fixed via https://review.openstack.org/#/q/topic:bug/1621559

[2016-09-14 16:30] Apsu commented on #1031
@BjoernT Ah, right you are. All of that has merged, though, so it does look like this card is good to go.

[2016-09-14 16:32] BjoernT commented on #1031
Yes we can update/close this issue once we sha bump for all active releases.

[2016-09-14 17:14] Apsu commented on #1031
Cool, moving to Pending SHA update column.

[2016-09-14 19:13] cloader89 commented on #1300
@git-harry I see that upgrade.sh has two other files, scripts-library.sh and deploy.sh. Did you want recursive fail reports or just for upgrade.sh?

[2016-09-14 20:48] Apsu commented on #460
Waiting for feedback

[2016-09-14 20:50] BjoernT commented on #460
@Apsu see https://github.com/rcbops/rpc-openstack/issues/460#issuecomment-195406808 in the end we want to check few things:
- Router is up
- Router if function for both ingress and egress traffic
- Floating IPs are working

[2016-09-15 07:58] git-harry commented on #1300
@cloader89 deploy.sh makes sense but not scripts-library.sh. We might want to break deploy.sh off into a separate task. Have a go with upgrade.sh and see how that goes.

[2016-09-15 22:11] Apsu commented on #460
(Pasting from email thread)

We just had a meeting on this, here was the agenda just so everyone has it in the thread:

—

Just wanted to get together to discuss these requirements in a bit more depth.

Things I’d like to cover:

* What exact issues are we trying to solve/prevent from reoccuring?
* Are there different levels of monitoring with different priorities so we can split the work appropri

[2016-09-16 13:58] alextricity25 opened #1424 "Incorrect comment in post-upgrade task"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-09-16 14:42] b3rnard0 commented on #460
Is this still block based on your conversation from yesterday?

[2016-09-16 18:42] Apsu commented on #460
@b3rnard0 No, this is now unblocked I believe, and ready to be checklisted and potentially split into other cards for prioritization.

[2016-09-16 20:02] tomc603 commented on #800
I've sent off an email to @timolow to ask some clarifying questions about this issue, its root cause, and if I could have a support ticket shared with me out of band so I can dig through a bit more.

Initially, I think this would have to be solved by watching log entries for specific kinds of exceptions, and reacting to them. As far as the load balancer issue goes, we can probably find a better ch

[2016-09-18 02:41] ihavegerms opened #1426 "hp-health tools cannot recognize controller"
[version information]

(pulled from infra host)
infra01:/opt/rpc-openstack/openstack-ansible$ git describe --all
11.2.16

(pulled from cinder host 1 of 2)
ii  hp-health                           10.0.0.1.3-4.                    amd64        hp System Health Application and Command line Utility Package
ii  hp-snmp-agents                      10.0.0.1.23-21.                  amd64        Insight Man

[2016-09-19 14:31] tomc603 commented on #800
Is there anybody else in @rcbops/support-feedback give input here? I'd be glad to forward the email I sent to @timolow if there is.

[2016-09-19 14:37] TEKNISHEN commented on #800
Tim –

Can you provide the answers or additional detail for this bug submission?

Thanks,

SG

From: Tom Cameron <notifications@github.com>
Reply-To: rcbops/rpc-openstack <reply@reply.github.com>
Date: Monday, September 19, 2016 at 9:31 AM
To: rcbops/rpc-openstack <rpc-openstack@noreply.github.com>
Cc: Sergio Gonzalez <sergio.gonzalez@RACKSPACE.COM>, Team mention <team_mention@noreply.github.com>

[2016-09-19 14:44] claco commented on #1426
@ihavegerms seems like this is a case of the HP tools not recognizing the controllers, and thus an upstream thing outside of our controll rather than an RPC/MaaS issue. I'm going to close this for now, but feel free to reopen if you end up with newer tools/firmware, and the output changes or the checks fail one the controller is finally detected.

[2016-09-19 14:44] #1426 closed

[2016-09-19 21:27] tomc603 commented on #800
@andymcc has suggested that we can create a swift static-web object, which is globally readable. Testing the access to this file will allow us to not only check that the proxy hosts are running, but also that they can access data in the ring. Performing this check from a load balancer (F5, haproxy, or any other) will allow us to remove failing systems from the load balancer automatically as well a

[2016-09-20 08:45] #1419 closed

[2016-09-20 13:36] cloader89 commented on #1300
Update: I am rewriting some of the items in upgrade.sh  to have it iteratively keep track of what's being run -- should have a PR by the end of the day.

[2016-09-20 16:00] evrardjp commented on #1088
Move this to need review when WIP is lower.

[2016-09-20 22:30] Apsu commented on #460
Got stuck in MaaS and code review/PR/design mines, will split this out tomorrow.

[2016-09-21 03:31] cloader89 commented on #1300
Update: I am still working on it, found a good piece from the run-upgrade.sh file in OSA I am templating.

What's left to do: Finish up the new upgrade.sh file and test it.

Do I have any blockers: no

[2016-09-21 03:34] cloader89 commented on #1236
Update: Making suggested changes by @alextricity25 and debugging.

What's next: reviews and gate passing

Any blockers: No

[2016-09-21 05:01] tomc603 commented on #800
Working on Ansible changes to create the needed Swift user and the check file. I've found so many ways in which Ansible _doesn't_ work...which is so nice.

[2016-09-21 15:06] Frank-ZhangXin commented on #742
Update: PR passed gate tests and here's the solution: we gather NIC from system through Ansible native module call "ansible_default_ipv4.interface", then replace original static "eth0" with it. So this can be considered as one permanent solution avoid interface messed up.

[2016-09-21 15:44] Frank-ZhangXin commented on #742
@b3rnard0 @txgunslinger77 Hi, guys. I made one PR to fix this, but not sure what will happen in physical environment on support side. It would be great helpful if you can test on the on-metal server. Thanks!

[2016-09-21 15:44] sigmavirus24 commented on #1393
The SHA bump merged this morning was tracking the latest stable/mitaka commit which should contain this. I'm moving this to done.

[2016-09-21 15:44] #1393 closed

[2016-09-21 19:31] claco opened #1432 "[OSA] Mitaka: libvirt-python package not consistently build in repo"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exist

[2016-09-21 21:22] Apsu commented on #460
Monitoring requirements and acceptance criteria
---

---

These tests are to be performed outside the router namespaces:

### Scheduling

- [ ] Verify routers are scheduled to an L3 agent and are active/admin_state up

---

These tests are to be performed inside each router namespace:

### Ingress

- [ ] Verify assigned floating IPs are actually on external interface
- [ ] Verify DNAT/SNAT rules f

[2016-09-21 21:22] cloader89 commented on #1236
Update: Made the said changes, and pushed a new version of the code to the PR #1366. Waiting on reviews.

Need verify-maas to work in the gate.

[2016-09-21 21:27] cloader89 commented on #1300
Update: Worked on my PR from 1236 today. It has been in review for a while, spending time focusing on that. I am also looking into seeing if I can include the .sh files as part of the replay of remaining tasks. Using a lock/trap methodology.

[2016-09-22 18:34] txgunslinger77 commented on #742
We'll test it, but just so we understand, what happens to bond1?

We have two default network connections - bond0 AND bond1. Bond1 though, does not have an IP, yet is still required for all VM traffic.

Here is what we deploy:
bond0 = host, container, storage networks/vlans (all trunked with host being native)
bond1 = tunnel/overlay, tenant networks

[2016-09-22 18:50] claco commented on #742
@txgunslinger77 That short answer is nothing. For various reasons in the long comments above, we're un-hard coding the default. This doesn't negate having to configuring things based on the environment (https://github.com/rcbops/rpc-openstack/issues/742#issuecomment-245290040), it just means we stop assuming eth0, when it could be named differently by udev, or in the case of most of our deploys, t

[2016-09-22 19:41] Rydor opened #1433 "13.1.0rc1 upgrades fail at bash scripts/deploy-rpc-playbooks.sh"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue? 13.1.0
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.1.0rc1
##### What type of issue is this? Please tick the appropriate box.

[2016-09-22 20:46] alextricity25 commented on #1433
Hi, @Rydor. The problems seems to be that Ansible can't find the config_template module. Did you already update Ansible by running ``bootstrap-ansible.sh``?

[2016-09-22 20:55] Rydor commented on #1433
Yes, I was able to successfully execute bash scripts/bootstrap-ansible.sh. I also received "System is bootstrapped and ready for use." back from the script.

[2016-09-22 20:55] alextricity25 commented on #1433
@Rydor, could you supply the output of these commands, please?
[code]

[2016-09-22 21:02] Rydor commented on #1433
ls /etc/ansible/plugins/action
ls: cannot access /etc/ansible/plugins/action: No such file or directory

cat /opt/rpc-openstack/rpcd/playbooks/ansible.cfg
[defaults]
gathering = smart
host_key_checking = False

# Setting forks should be based on your system. The Ansible defaults to 5,
# the os-lxc-hosts assumes that you have a system that can support
# OpenStack, thus it has been conservatively be

[2016-09-22 21:06] alextricity25 commented on #1433
Thanks @Rydor. It looks to me like you ran ``bootstrap-ansible.sh`` under maybe the liberty-12.2 branch, or maybe while still under the 12.X tag.
Could you re-run ``bootstrap-ansible.sh`` while under the 13.X tag, then report back with the output of that ``ls`` command? The /etc/ansible/plugins directory should be populated by ``boostrap-ansible.sh``.

[2016-09-22 21:18] Rydor commented on #1433
Thanks for the help troubleshooting this. I did not execute a proper git submodule init / sync/ update so the latest openstack-ansible didn't get pulled in. After updating submodules it was able to get through this issue. As a result we can close this issue. I am not sure if that is something i do or you do.

[2016-09-22 21:19] #1433 closed

[2016-09-23 08:08] evrardjp opened #1434 "test-upgrade fails on "Get elastic search indicies""
I've never deployed logging stash (or at least I didn't ask for it by setting deploy logging to no in my exports) and my upgrade fails on the post-upgrade role, when it tries to do actions on elastic search.

The task failing is:
"Get elastic search indicies" (there is a typo on the task name btw), which returns msg: Socket error: [Errno 111] Connection refused to http://172.29.239.40:9200/_cat/in

[2016-09-23 10:00] #1031 closed

[2016-09-23 10:03] mancdaz commented on #1278
SHA bump has been completed and includes the upstream fix for this in liberty https://github.com/rcbops/rpc-openstack/pull/1422

[2016-09-23 10:03] #1278 closed

[2016-09-23 15:07] BjoernT opened #1435 "Build sane rabbit sync policies"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [ ] bug - exis

[2016-09-23 19:59] mattt416 opened #1436 "deploy.sh updates defaults files rather than add to overrides"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

Mitaka versions of scripts/deploy.sh should override variables by adding them to th

[2016-09-23 20:22] Apsu opened #1437 "os_neutron ns-metadata-proxy cleanup error attempting to kill PID"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
master upgrade from liberty-12.2

###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
liberty-12.2 to master

##### What type of issue i

[2016-09-23 20:25] Apsu commented on #1437
Connects rcbops/u-suk-dev#371

[2016-09-23 20:43] cloader89 opened #1438 "MaaS templates need to be cleaned up."
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [ ] bug - exis

[2016-09-23 20:50] mattt416 commented on #1434
Hi @evrardjp, I think the issue here is actually a bug in scripts/deploy.sh.  I've pushed a PR to address.

[2016-09-23 21:27] cloader89 commented on #1300
Made significant progress today. I have written a draft of the changes I wish to propose for deploy.sh. Since deploy.sh is the only file that has the playbooks for RPC-O, not already inside of OSA. I have created a branch. https://github.com/rcbops/rpc-openstack/tree/issues/1300

Here is the failed output of upgrade.sh (deploy.sh) of what I have left.
http://paste.openstack.org/show/582821/

@git-

[2016-09-23 21:31] cloader89 commented on #1236
Update: Addressing the changes proposed. Also, need verify-maas to cooperate.

[2016-09-26 08:04] mancdaz commented on #742
@Frank-ZhangXin master review has now merged. Please backport where necessary, and update the various sections of the issue description above.

[2016-09-26 09:56] odyssey4me commented on #1435
Implementing alternative policies is only one way to solve this issue. The best way to solve it is through a change in architecture, not a change in policies. In other words - don't use a single RabbitMQ cluster for all message processing. This is a well known strategy for large deployments.

Implementing the change in architecture to have multiple clusters should be possible from Kilo onwards wit

[2016-09-26 13:23] git-harry commented on #1438
@cloader89 it would be useful to include specific examples of what you think is wrong. This looks to me like a minor enhancement for the benefit of engineering that does not impact operators/customers.

[2016-09-26 13:35] git-harry commented on #1436
@mattt416 would you mind adding examples of what you're referring to. Based on the description, it seems this is an AIO specific issue, I've marked this as a prio-3 but we can adjust if required based on any additional information.

[2016-09-26 13:49] evrardjp commented on #1436
@git-harry We discovered this when doing an AIO indeed.
In the deploy.sh, if AIO, we override the ceph variables in the defaults.

It seems wrong, because what needs to be effectively set is the override, we are like a deployer that sets these variable. However, if we explain to support we never touch the override file, this is a problem.

If we omit this problem of expectations of "scoping", we s

[2016-09-26 13:53] git-harry commented on #1437
@Apsu @hughsaunders I had a look at the build summary page for upgrade failures related to this issue and couldn't find any. Are you able to quantify how frequently this failure is seen? From what I can see this is an infrequent race condition and so shouldn't block the release of r13.1.0 and so I think it should be a prio-2 but will leave the priority undecided until we have more information in t

[2016-09-26 14:19] git-harry commented on #1436
After discussing with @evrardjp this is blocking https://github.com/rcbops/u-suk-dev/issues/383 (r13.1.0rc2) so moving to approved.

[2016-09-26 14:45] git-harry commented on #1182
@npawelek to add further details.

[2016-09-26 14:53] npawelek commented on #1182
We generate 5 metrics per ceph OSD in the environment and we're only evaluating against 1, whether it's 'up' or not. Due to current metric limit of 50, when we deploy accounts with more than 10 ceph OSD, these checks will fail post-deploy. The deployment workaround is to comment out some of the unused metrics to allow evaluation of the checks once it's handed over to the customer. This typically r

[2016-09-26 15:04] git-harry commented on #1435
Moved to https://github.com/rcbops/u-suk-dev/issues/461

[2016-09-26 15:04] #1435 closed

[2016-09-26 15:25] evrardjp commented on #1436
Well my comment above is completely irrelevant.
Please ignore it, and put the prio back to its original state.
We should remove the blocking part too.

[2016-09-26 15:30] Frank-ZhangXin commented on #1262
@brainerd123 Hi, could you please point out where you enabled 'keystone domains'?

[2016-09-26 15:56] prometheanfire commented on #1436
It was my understanding that overrides were for support...  This is working as intended as far as I can see.  @evrardjp so is this still an issue?

[2016-09-26 16:30] alextricity25 commented on #1436
IMO, variables added/modified in the ``deploy.sh`` **should either be defined as the correct value in the defaults file already, or be added to the overrides file**. Right now it's adding/overriding directives in the defaults file(usually in the case of an AIO). I would rather see these directives in the overrides file.

[2016-09-26 16:42] prometheanfire commented on #1436
The deploy.sh script alters the default the question is if we want to consider those alterations as being done by dev or deployers?  If by dev then it should stay in defaults, if by deployers then it should be inserted into overrides.  I think there's a good argument for stating that choices made by deploy.sh are a deployer decision (deploy(er).sh) :D

[2016-09-26 17:33] brainerd123 commented on #1262
Hello Frank,

I believe that configuration is done here:

Enable multi-domain for Horizon

Add the following to /etc/openstack_deploy/user_variables.yml

horizon_keystone_multidomain_support: True

A line in /etc/ansible/roles/os_horizon/templates/horizon_local_settings.py.j2 must be commented out to prevent Horizon from forcing the Default domain

sed -i 's/OPENSTACK_KEYSTONE_DEFAULT_DOMAIN/#OPEN

[2016-09-26 21:19] mattt416 commented on #1436
I started a [WIP](https://github.com/mattt416/rpc-openstack/commit/efda8ee1b96131487bb353c41e780792fe5057f6) with some ideas, but at the moment I'm not sure which direction to go.  The [WIP](https://github.com/mattt416/rpc-openstack/commit/efda8ee1b96131487bb353c41e780792fe5057f6) effectively does the following:

- creates a bash function called `update_overrides` so that the logic of updating the

[2016-09-26 21:32] cloader89 commented on #1300
Update: Ready for reviews

[2016-09-27 10:14] mancdaz opened #1443 "rpc_pre_upgrade role needs to be reworked"
##### On which version(s) do you encounter this issue?

version ```r13.1.0rc1```

##### What type of issue is this? Please tick the appropriate box.

- [ ] bug - existing functionality that does not work for you as documented
- [x] feature - new functionality that you would like to see added

##### What is the expected behaviour?

That the playbook and role perform tasks in the manner that ansible

[2016-09-27 11:35] evrardjp commented on #1436
You're right we are creating a super complex thingy for something that shouldn't be.

Thinking of a better solution.

[2016-09-27 13:59] alextricity25 commented on #1436
I agree with this ten fold! We shouldn't have to cater this script to everyone(support, gate, and devs). It's meant only for gate testing. Period. It would be nice to add a NOTE at the top explaining the intended use for the script.
``test-upgrades.sh`` can also be used by DEVs on a local environment, but only with the understanding that their might be some extra work to do so the script can run.

[2016-09-27 15:55] git-harry commented on #460
Requirements gathered, pending available person to complete code.

[2016-09-28 13:20] evrardjp commented on #1437
https://review.openstack.org/#/c/378535/ is on its way to mitaka.

[2016-09-28 14:19] major opened #1446 "RPC AIO deployments expose Elasticsearch service externally"
##### On which version(s) do you encounter this issue?

I'm unsure of the version.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - existing functionality that does not work for you as documented
- [ ] feature - new functionality that you would like to see added

##### What is the expected behavior?

Elasticsearch ports should be restricted so that the service isn't

[2016-09-28 14:37] Frank-ZhangXin commented on #742
@mancdaz will do, thanks for noticing me.

[2016-09-28 14:40] Apsu commented on #1437
Go Jenkins go!

[2016-09-28 14:42] tomc603 commented on #800
I'm refactoring some of this work, because I have realized installations not using MaaS may still want to perform this check. I'm also switching over to using the os_* modules from Ansible instead of using command-line commands and attempting to parse the response.

In my test environment, I was unable to fetch the index file in the static web without authentication, so that will require the loadb

[2016-09-28 14:49] cloader89 commented on #1236
Looking into gating issues with @sigmavirus24 and @hughsaunders

[2016-09-28 15:47] odyssey4me commented on #800
@tomc603 Be warned that the os_ modules from Ansible will require versions of python packages which are probably incompatible with what's deployed in RPC, and very probably a version of Ansible (2.x) that RPC can't use just yet. The older ones which support Ansible 1.x I hear are horrible - ymmv.

[2016-09-28 16:06] tomc603 commented on #800
@odyssey4me Thank you very much for that feedback! No doubt, you've saved me hours of tinkering. I just really hate the idea of parsing STDOUT in an ansible task, hoping that output doesn't change.

[2016-09-28 16:28] jacobwagner opened #1447 "deploy-rpc-playbooks.sh cannot be run independently of test-upgrade.sh"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.1.0rc1

##### What type of issue is this? Please tick the appropriate box.
- [x]

[2016-09-28 21:08] cloader89 commented on #1236
Looks like the order of playbook running is the issue. I will open an issue tomorrow and fix it.

[2016-09-28 21:09] #1300 closed

[2016-09-29 15:49] #1436 closed

[2016-09-29 16:19] cloader89 opened #1448 "Verify MaaS beIng run too early in deploy.sh"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-09-29 16:26] cloader89 commented on #1448
Blocker for https://github.com/rcbops/rpc-openstack/issues/1236

[2016-09-29 16:39] git-harry commented on #1236
Blocked by https://github.com/rcbops/rpc-openstack/issues/1448

[2016-09-29 16:42] alextricity25 commented on #1434
I created a backport for this. Please review when you get the chance.

[2016-09-30 14:31] mattt416 commented on #1434
Closing this card since the backport has a separate issue for tracking.

[2016-09-30 14:34] git-harry commented on #1236
#1448 is fixed in master so we should be able to get this card moving again.

[2016-09-30 15:16] #1448 closed

[2016-09-30 18:34] sigmavirus24 opened #1456 "OSA Horizon Role does not disable the Default Domain in multidomain set-up"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

master, mitaka (13.1.0rc1), liberty (12.1.5)

##### What type of issue is this? Ple

[2016-09-30 18:39] sigmavirus24 opened #1457 "RPC Branding/Logo missing from "Material" Horizon theme"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

master (haven't checked older versions)

##### What type of issue is this? Please t

[2016-09-30 18:59] claco commented on #1457
Related #1088

[2016-09-30 19:24] sigmavirus24 commented on #1457
@claco that's the default theme though.

[2016-10-03 12:29] git-harry commented on #1443
Closed in favour of https://github.com/rcbops/u-suk-dev/issues/473

[2016-10-03 12:29] #1443 closed

[2016-10-03 12:35] git-harry commented on #1446
Given that customers sit behind a firewall I've marked this as prio-2, we can discuss in this afternoon's meeting if we need to raise the priority.

[2016-10-03 12:41] git-harry commented on #1447
@jacobwagner this was a [design choice](https://github.com/rcbops/rpc-openstack/pull/1396#issuecomment-247050690) and so won't be addressed at this time.

[2016-10-03 12:41] #1447 closed

[2016-10-03 13:28] git-harry commented on #1457
I've labelled this as a prio-2 based on the assumption that we support both themes. If, however we don't currently support the material theme this issue will likely need re-categorising a an enhancement-medium.

[2016-10-03 13:34] sigmavirus24 commented on #1457
So I recall this coming up as a "free feature" when looking at Mitaka. Based on that, I've assumed this is supported. We should chat with product though to see if this is actually a thing they care about (given that Material is not the default)

[2016-10-03 14:14] git-harry commented on #1457
I don't see it listed as a free feature, I've mark this as undecided. Once we clarify the expected support for themes other than default this can be labelled appropriately.

[2016-10-03 14:52] evrardjp commented on #1457
I thought the material theme was quite experimental, and wasn't production ready in this release.
I agree with @git-harry .

[2016-10-03 14:55] sigmavirus24 commented on #1457
An alternative solution: Completely disable it until it is ready

[2016-10-03 15:18] evrardjp commented on #1457
Or fix it? What would be the path of the assets required for the branding?

[2016-10-04 14:46] git-harry commented on #1457
We are not supporting the material theme.

[2016-10-04 14:46] #1457 closed

[2016-10-04 21:28] Apsu commented on #460
Might be available to make some progress on this tomorrow.

[2016-10-05 14:20] git-harry commented on #1088
@evrardjp is there any reason to keep this open now you have created https://github.com/rackerlabs/docs-rpc/issues/619

[2016-10-05 14:41] tomc603 commented on #460
@git-harry @Apsu Would it make sense to close this particular card now that requirements are gathered, and create one or more cards to implement the work necessary for monitoring Neutron properly?

[2016-10-06 12:10] git-harry commented on #1008
@xeregin based on the time this issue has been here, the lack of any additional reports and the fact we are now on r11.1.17, I'm going to close it. If you think it is still important let me know and we can look to reopen it.

[2016-10-06 12:10] #1008 closed

[2016-10-06 12:37] git-harry commented on #1434
@mattt416 this is now in master and mitaka-13.1, what other backports are required?

[2016-10-06 13:25] mattt416 commented on #1434
@git-harry What other backports are required to resolve this issue?  That should be it as far as I'm aware.

[2016-10-06 14:09] alextricity25 commented on #1434
I personally feel like no other backport is needed

[2016-10-06 14:15] tomc603 commented on #1236
I addressed the feedback in the reviews, but seem to have introduced an error...potentially with a missing ",". I built an AIO yesterday so I can test my fix and update the PR.

[2016-10-06 14:21] sigmavirus24 commented on #1236
@tomc603 I believe I commented on the PR exactly where you introduced that error to make it easier for you to fix.

[2016-10-06 14:31] git-harry commented on #1437
@Apsu does this need backporting to Liberty upstream and here?

[2016-10-06 14:44] git-harry commented on #1434
@mattt416 Okay, not offering an opinion, just confirming that all our supported branches have been considered. I'll close this card.

[2016-10-06 14:47] #1434 closed

[2016-10-06 15:36] tomc603 commented on #1236
@sigmavirus24 Yeah, I caught that last night. Thanks! The latest push has fixed the missing comma.

[2016-10-06 16:06] Apsu commented on #460
@tomc603 Yep, that's basically what I had in mind to begin moving forward on this, especially so that there's not this one card sitting in Doing being blocked forever, and we can have backlogged cards to get prioritized and doled out. If you're volunteering to help, I wouldn't turn you down :D

[2016-10-06 16:36] Apsu commented on #1437
@git-harry No it does not. The handler https://github.com/openstack/openstack-ansible/blob/liberty/playbooks/roles/os_neutron/handlers/main.yml does not include the old proxy killing logic, and I can't find any similar logic of any kind looking in the entire os_neutron role for Liberty.

[2016-10-06 16:38] #1437 closed

[2016-10-07 15:01] sigmavirus24 commented on #742
Backports for both mitaka branches and kilo are done. I also updated the list of branches with the PR numbers to make it easier to find them.

[2016-10-07 15:14] sigmavirus24 commented on #1262
@git-harry asked I drive this forward given its age.

[2016-10-08 04:34] tomc603 commented on #742
The last backport has merged. I don't think it requires a release note, since it's just changing a default to a more sensible value. But I'm not confident enough to move this issue to Done. If anybody has an opinion one way or the other, let me know.

[2016-10-10 08:03] evrardjp opened #1478 "Add a release note for ceph l>m upgrade changes"
As discussed in rcbops/rpc-openstack#1463, the ceph l>m upgrade needs a reno.

[2016-10-10 08:51] git-harry commented on #1088
Closing because now handled by docs team https://github.com/rackerlabs/docs-rpc/issues/619

[2016-10-10 08:51] #1088 closed

[2016-10-10 14:23] #742 closed

[2016-10-10 14:24] b3rnard0 commented on #800
@tomc603 Can you please provide an update for this card? Thanks.

[2016-10-10 14:27] sigmavirus24 commented on #742
https://waffle.io/rcbops/u-suk-dev/cards/57fba52f04d67ef8001ed18a is the card for release notes

[2016-10-10 14:36] npawelek commented on #1099
@prometheanfire Any update on this issue?

[2016-10-10 14:48] prometheanfire commented on #1099
This needs to be put in a swimlane, can someone join our triage meeting or bug @b3rnard0 about this?

[2016-10-10 14:56] b3rnard0 commented on #1099
@rcbops/support-feedback This is marked as prio-3. Is this of a higher priority than the issues currently marked as prio-2? Was there a reason this was not discussed at the bug triage? We are happy to update the priority on this if we all agree that is the case and we'll commit to it once have capacity.

cc: @git-harry @mancdaz @claco @prometheanfire

[2016-10-10 15:36] Apsu commented on #460
Plugin development is in progress.

[2016-10-10 16:01] #1478 closed

[2016-10-10 17:06] robb-romans commented on #1099
Is there a docs impact?

[2016-10-10 17:15] npawelek commented on #1099
@b3rnard0 I spoke with @BjoernT about this and his thoughts were that the work has pretty much been completed and it needed to either be merged or provide feedback on any problems. Priority wise I think it's fine.. just something we may be able to knock out quickly.

[2016-10-10 21:13] BjoernT opened #1481 "OSA Bug 1632025: deploy-config-changes.yml not mature enough"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [x] bug - exis

[2016-10-10 21:17] BjoernT opened #1482 "OSA Bug 1632040: RabbitMQ cluster killed during setup-hosts.yml"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

##### What type of issue is this? Please tick the appropriate box.
- [X] bug - exis

[2016-10-10 21:21] BjoernT opened #1483 "L>M Upgrade: OSA Bug 1632098: stale RabbitMQ queues"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.1.0rc1
13.3.4-1-ga489036
##### What type of issue is this? Please tick the appr

[2016-10-10 21:26] BjoernT opened #1484 "L>M Upgrade: Network MTU overrides are not honored"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.1.0rc1
13.3.4-1-ga489036

##### What type of issue is this? Please tick the app

[2016-10-10 22:15] BjoernT opened #1485 "L>M Upgrade: Overrides are not correctly migrated"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.1.0rc1
13.3.4-1-ga489036

##### What type of issue is this? Please tick the app

[2016-10-10 23:01] BjoernT opened #1486 "innodb_deadlocks does not report on a rate per interval"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.1.0rc1
13.3.4-1-ga489036
##### What type of issue is this? Please tick the appr

[2016-10-11 04:10] alextricity25 commented on #1485
@BjoernT, it sounds like you might of ran the ``test-upgrade.sh`` script on this environment, and thus causing the variables to take the values of the new defaults.
The ``test-upgrade.sh`` and ``migrate-yaml.py`` script use [a flag](https://github.com/rcbops/rpc-openstack/blob/master/scripts/test-upgrade.sh#L34), ``--for-testing-take-new-vars-only``, to automate the migration of variables for our

[2016-10-11 04:19] alextricity25 commented on #1484
@BjoernT, the ``test-script.sh`` script was designed only for gate and dev purposes.
However, it wouldn't be a bad idea to move these lines into a playbook, maybe even the rpc-pre-upgrade.yml playbook. From there it should be easy to reference ``container_mtu``.
If you are interested, the MTU changes are documented here: https://github.com/rackerlabs/docs-rpc/pull/620/files#diff-dd39230c5ac09e679c

[2016-10-11 11:23] git-harry commented on #1099
@npawelek the triage meeting is where we discuss/agree what the engineering team will commit to work next. If an issue already has a pull request, that may mean it flows more quickly along the stages of our process but that does not allow to skip parts of it. As an engineering team our expectation is that there is support representation at the triage meetings that is able to highlight and discuss

[2016-10-11 12:59] cloudnull commented on #1484
In OSA we've identified this as a short coming in our upgrade process and have put this together: [ https://review.openstack.org/#/c/384635/ ]. with a few more reviews we're hoping to have that merged soon.

[2016-10-11 13:48] alextricity25 commented on #1484
Thanks, Kevin! Once this merges in and our SHA is bumped, we can move this out of our documentation and testing script.

[2016-10-11 14:00] BjoernT commented on #1485
@alextricity25 That would explain it. Good to know, I was told to use this script in absence of a finished upgrade script. Closing it out for now

[2016-10-11 14:16] tomc603 commented on #800
I have what appears to be a functional AIO environment where I'm squashing bugs on this work. I may have to rebuild it sooner rather than later due to some mistakes I made with Swift.

[2016-10-11 15:10] BjoernT opened #1487 "L>M Upgrade: Cinder volume status metric errors after upgrade"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.

r13.1.0rc1
13.3.4-1-ga489036

##### What type of issue is this? Please tick the app

[2016-10-12 04:53] Apsu commented on #460
Still in progress, was diverted to 1440 pretty much all of today.

[2016-10-12 14:53] Frank-ZhangXin commented on #1262
Status: Currently we experienced same maas fails on each backport PR, and believe this would be solved when jenkins side fixed.

[2016-10-12 16:36] git-harry commented on #1262
Blocked by https://github.com/rcbops/u-suk-dev/issues/513

[2016-10-13 18:39] cloader89 commented on #1236
@JCallicoat can you update which backports you want? I noticed kilo is EOL. Also did you want liberty-12.2 still?

@git-harry @b3rnard0

[2016-10-13 19:09] sigmavirus24 commented on #1236
@cloader89 kilo is not EOL. This should go all the way back IMO

[2016-10-13 19:25] alextricity25 commented on #1236
That's my fault. I commented on the Kilo backport thinking Kilo was EOL. Turns out it isn't. Sorry for the confusion!

[2016-10-13 20:18] cloader89 commented on #1236
Sorry, wanted to clarify. Thanks @sigmavirus24

[2016-10-14 09:16] git-harry opened #1500 "View migrated (by Liberty to Mitaka upgrade) ElasticSearch data in Kibana"
#### Do NOT include any confidential information, this issue will be created on a public repo
#### This section is completed by the issue reporter
##### On which version(s) do you encounter this issue?
###### Please provide the output to 'git describe --all' for  all deployments where you have confirmed it occurs.
r13.1.0rc2

##### What type of issue is this? Please tick the appropriate box.
- [ ]

[2016-10-14 10:17] git-harry commented on #1236
https://github.com/rcbops/rpc-openstack/issues/1448 only appears to have been fixed in master but based on the build logs appears to affect other branches - http://jenkins.propter.net/job/JJB-RPC-AIO_mitaka-ceph/689/consoleFull

[2016-10-14 14:47] Apsu commented on #460
Update time!

Still doing some research and a bit of hacking but because MaaS plugins don't run inside containers, my current approach is to reach into the neutron-agents containers by accessing their LXC namespaces, in order to get to their network namespaces. I'm currently making use of the pyroute2 pip package in my test code, which gives me a Netlink interface to easily probe and manipulate in

[2016-10-14 14:55] git-harry commented on #1481
@rcbops/support-feedback based on the description it sounds like a manual task was performed prior to starting the upgrade which caused a conflict with the OSA process, based on that I think this issue is invalid because I don't think it is appropriate for the task to delete a file that may or may not be required. Please can you clarify your understanding of what caused the file /etc/openstack_dep

[2016-10-14 15:03] BjoernT commented on #1481
@git-harry As I requested, I want to improve the task to a point where it can be run without conditions like that. Why not adding timestamps and then we don't if someone manually put something in that place like /etc/openstack_deploy.LIBERTY.<timestamp> Also  I believe it was a dev who put that in there :-) Don't know what it was because it was strangely a copy of the openstack_user_config.yml fil

[2016-10-14 15:27] evrardjp commented on #1410
This was implemented in Mitaka in the following patchset: https://review.openstack.org/#/c/370133/

It's since now merged and now longer requires work.

[2016-10-14 15:28] #1410 closed

[2016-10-14 16:12] git-harry commented on #1481
Given that making multiple copies of this directory makes little sense in the context of an upgrade, I'm not sure there is a benefit however appending the date should reduce the likelihood of another collision. I shall mark this as a low priority enhancement so we can track any upstream changes.

[2016-10-14 17:31] BjoernT commented on #1485
Please reopen this issue is happening with without the option --for-testing-take-new-vars-only too. maas_auth_token is now entirely missing and only present inside OLD_OVERRIDES section